<table class="table table-hover dataTable  table-striped table-responsive">
    <thead>
        <tr style="background-color:#3d566e; color:#ecf0f1">
            <th>Id</th>
            <th>Nombre</th>          
            @*<th>
                    <div class="pull-right">
                        Editar
                    </div>
                </th>
                <th>
                    <div class="pull-right">
                        Funciones
                    </div>
                </th>*@
            <th>
                @*<p data-placement="top" data-toggle="tooltip" title="Agregar Roles"></p><button title="Agregar Roles" class="btnnuevo btn btn-primary pull-right" data-modal="" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span></button>*@
            </th>
        </tr>
    </thead>
    <tbody data-bind="foreach:">
        @using CapaEntidad.Control
        @model IEnumerable<Ent_Roles>

        @foreach (Ent_Roles item in Model)
        {
            <tr>
                <td>@item.rol_id.ToString()</td>
                <td>@item.rol_nombre.ToString()</td>              
                @*<td>
                        <div class="pull-right">
                            <button title="Editar" class="btneditar btn btn-primary" data-id="@item.rol_id" data-modal="" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button>
                        </div>
                    </td>
                    <td>
                        <div class="pull-right">
                            <button title="Funciones" class="btnfun btn btn-success" data-id="@item.rol_id" data-modal="" data-toggle="modal"><span class="glyphicon glyphicon-list-alt"></span></button>
                        </div>
                    </td>*@
                <td>
                    <div class="pull-right">
                        <button title="Editar Roles" class="btneditar btn btn-primary" data-id="@item.rol_id" data-modal="" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button>
                        &nbsp;
                        <button title="Agregar Funciones" class="btnfun btn btn-success" data-id="@item.rol_id" data-modal="" data-toggle="modal"><span class="glyphicon glyphicon-list-alt"></span></button>
                    </div>
                </td>
            </tr>

        }
    </tbody>
    @if (Model.Count() != 0)
    {
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Nombre</th>             
                @*<th>
                        <div class="pull-right">
                            Editar
                        </div>
                    </th>*@
                <th>
                    @*<div class="pull-right">
                            Funciones
                        </div>*@
                </th>
            </tr>
        </tfoot>
    }
</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-app>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.table').dataTable({
            "language": {
                "url": "../Scripts/DataTables/Spanish.json"
            }
        });
    });
</script>
<script>
    $(function () {
        $(".btneditar").click(function () {
            var TeamDetailPostBackURL ="@Url.Action("Edit", "Roles")";
            //debugger;
            var $buttonClicked = $(this);
            waitingDialog.show('Espere un momento por favor');
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                datatype: "json",
                cache: true,
                success: function (data) {
                    //debugger;
                    waitingDialog.hide();
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                    // debugger;

                },
                error: function () {
                    waitingDialog.hide();
                    alert("Dynamic content load failed.");
                }
            });
        });


        $("#closbtn").click(function () {
            // debugger;
            waitingDialog.hide();
            $('#myModal').modal('hide');
        });
    });
    $(function () {
        $(".btnfun").click(function () {
            var TeamDetailPostBackURL = "@Url.Action("Funcion", "Roles")";
            //debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            waitingDialog.show('Espere un momento por favor');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                datatype: "json",
                cache: true,
                success: function (data) {
                    waitingDialog.hide();
                    //debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                    // debugger;

                },
                error: function () {
                    waitingDialog.hide();
                    alert("Dynamic content load failed.");
                }
            });
        });


        $("#closbtn").click(function () {
            waitingDialog.hide();
            // debugger;
            $('#myModal').modal('hide');
        });
    });
</script>