@using CapaEntidad.Util;
@{
    ViewBag.Title = "Reporte Vendedor";
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "lista",
        OnComplete = "waitingDialog.hide();",
        OnBegin = "waitingDialog.show('Espere un momento por favor');",
        OnFailure = "waitingDialog.hide();"
    };

}

@*@Scripts.Render("~/bundles/bootstrap-select_Select")*@
<link href="~/ContentSelect/bootstrap-select.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />
@*<link href="@Url.Content("~/Content/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />*@
<style>
    iframe {
        border: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 800px;
    }
</style>
<div class="">

    <div class="">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <div class="well">
                        <form id="frmConsulta" data-parsley-validate>
                            <div class="row">
                                <div class="form-group col-md-1">
                                    <label for="txtCliente">Cod Tda.</label>
                                </div>
                                @*@Html.DropDownList("txtTda", new SelectList(ViewBag.Tienda, "cbo_codigo", "cbo_descripcion", "0"), new { @class = "selectpicker", multiple = "multiple", @data_live_search = "true", @id = "txtTda", @name = "txtTda", style = "width:270px;max-width:270px;" })*@
                                <div class="form-group col-md-3">
                                    @*@Html.DropDownList("txtTda", new SelectList(ViewBag.Tienda, "cbo_codigo", "cbo_descripcion", "0"), new { @class = "selectCountry form-control", @data_live_search = "true", @id = "txtTda" })*@
                                    @Html.DropDownList("txtTda", new SelectList(ViewBag.tienda, "cbo_codigo", "cbo_descripcion","0"), new { @class = "selectpicker", @data_live_search = "true", @id = "txtTda", @name = "txtTda" })
                                    @*<input type="text" name="txtTda" id="txtTda" class="form-control" maxlength="255" data-parsley-maxlength="255" data-parsley-maxlength-message="Ingrese un nombre usuario válido.">*@
                                </div>

                                <div class="form-group col-md-1">
                                    <label class="control-label" for="selEstado">Fec. Ini</label>
                                </div>
                                <div class="form-group col-md-3">
                                    <div id="datepickerini" class="input-group date" data-date-format="dd-mm-yyyy">
                                        <input id="fecini" name="fecini" value="" class="form-control custom-input" placeholder="dd-mm-yyyy" type="text" />
                                        <span class="input-group-addon  bg-white"><img src="~/Content/images/wall-calendar-with-lines.svg" height="20" width="20"></span>
                                    </div>
                                </div>

                                <div class="form-group col-md-1">
                                    <label class="control-label" for="selEstado">Fec. Fin</label>
                                </div>
                                <div class="form-group col-md-3"  id="divgrupo">
                                    <div id="datepickerfin" class="input-group date" data-date-format="dd-mm-yyyy">
                                        <input id="fecfin" name="fecfin" value="" class="form-control" placeholder="dd-mm-yyyy" type="text" />
                                        <span class="input-group-addon  bg-white"><img src="~/Content/images/wall-calendar-with-lines.svg" height="20" width="20"></span>
                                    </div>
                                </div>
                                



                            </div>
                            <div class="row">

                                <div class="form-group col-md-1">
                                  
                                </div>
                                <div class="form-group col-md-3" >
                                   
                                </div>

                                <div class="form-group col-md-1">
                                   
                                </div>
                                <div class="form-group col-md-3">
                                   

                                </div>
                                <div class="form-group col-md-1">
                                 
                                </div>
                                <div class="form-group col-md-1">

                                </div>
                                <div class="form-group col-md-2">
                                    <button type="button" class="btn btn-primary" onclick="javascript: MostrarReporte()">
                                        <span class="glyphicon glyphicon-th-list"></span>&nbsp;Ver Reporte
                                    </button>
                                </div>
                                
                            </div>

                            

                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="ifrReporte" class="well" style="width: 100%; height: 800px;">
                                <iframe id="load" src="" frameborder="0" marginheight="1"
                                        marginwidth="1" scrolling="auto" onload="javascript: waitingDialog.hide();"></iframe>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
@*<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/ScriptsSelect/bootstrap-select.js"></script>*@
<script src="~/Scripts/bootstrap-select.min.js"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

<script src="~/Scripts/BI.js"></script>
<script type="text/javascript">
    $(function () {
        $("#datepickerini").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker("setDate", "0");;
    });
    $(function () {
        $("#datepickerfin").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker("setDate", "0");;
    });
</script>
<script>
    $(document).ready(function () {

    });

    //function loadedFrame() {
    //    $('#loading').hide();
    //}
   

    function MostrarReporte(e) {

        var tda = $('#txtTda').val();
        var fecIni = ($("#fecini").val()).split('-');
        var fecFin = ($("#fecfin").val()).split('-');
        var strIni = fecIni[2] + fecIni[1] + fecIni[0];
        var strFin = fecFin[2] + fecFin[1] + fecFin[0];
      
        var TeamDetailPostBackURL ="@Url.Action("ShowGenericReportVendedorInNewWin", "Reporte")";
        if (tda != '' || tda == null) {
            waitingDialog.show('Espere un momento por favor');
            $.ajax({
                //url: GLB_RUT_APP_REPVENR + "?tda=" + tda + "&grupo=" + grupo + "&cate=" + cate + "&subcate=" + sbCate + "&estado=" + Estado,
                url:TeamDetailPostBackURL,// '../ReporteCrystal/ShowGenericReportInNewWin',
                dataType: 'json',
                type: 'POST',
                //dataType: "html",
                data: { cod_tda: tda, fecIni: strIni, FecFin: strFin },
                //cache: false,
                //async: false,
                //dataType: "html",
                success: function (data) {
                    //alert('ok');
                    if (data.estado == "1")
                    {
                        $('#load').show();
                        $("#load").attr("src", "../AspNetForms/Vendedor.aspx");
                    }
                    else
                    {
                        $('#load').hide();
                        waitingDialog.hide();
                        toastr.error('Hubo un error en el reporte', "Alerta");

                    }
                    //document.getElementById("ifrReporte").innerHTML = data;
                    //waitingDialog.hide();
                    return false;
                },
                error: function (request, status, error) {
                    waitingDialog.hide();
                }
            }).done(function () {

            });
        } else {

            toastr.error('Debe Ingresar Tienda', "Alerta");
        }
    }

 
</script>
