@using CapaEntidad.Util;
@{
    ViewBag.Title = "Reporte de Planilla";
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "lista",
        OnComplete = "waitingDialog.hide();",
        OnBegin = "waitingDialog.show('Espere un momento por favor');",
        OnFailure = "waitingDialog.hide();"
    };

}

@*@Scripts.Render("~/bundles/bootstrap-select_Select")*@
<link href="~/ContentSelect/bootstrap-select.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />
@*<link href="@Url.Content("~/Content/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />*@
<style>
    iframe {
        border: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 800px;
    }

      #lugar {
  /*border-top-color:  lightsteelblue;*/
  border-top-color:  #E7E5E5;
  border-right-color:  #E7E5E5;
  border-bottom-color: #E7E5E5;
  border-left-color: #E7E5E5;

  /*border-top-width: 5px;
  border-left-width: 5px;
  border-bottom-width: 5px;
  border-right-width: 5px;*/
  border-style: solid;
   border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    margin-left:0px;
    margin-right:0px;
 
   
    }
</style>
<p class="text-danger">Consulta de la planilla de tiendas, por filtro Tienda, Tipo, Grupo, Categoria , SubCategoria,Estado.</p>
<div class="box box-body box-primary">  
    <div class="row">

        <div class="col-sm-3">
            <label for="txtTda">Cod Tda.</label>
            <div class="form-group">
                <div id="tipodoc" class="form-group">
                    @Html.DropDownList("txtTda", new SelectList(ViewBag.tienda, "cbo_codigo", "cbo_descripcion", "0"), new { @class = "selectpicker", @data_live_search = "true", @id = "txtTda", @name = "txtTda" })
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="dwTipo">Tipo</label>
            <div class="form-group">
                <div id="tipodoc" class="form-group">
                    @Html.DropDownList("dwtipo", new SelectList(ViewBag.Tipo, "cbo_codigo", "cbo_descripcion", "1"), new { @class = "selectpicker", @id = "dwTipo", @name = "dwTipo", style = "width:270px;max-width:270px;", @onchange = "ListarGrupo()" })
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="dwGrupo">Grupo</label>
            <div class="form-group">
                <div id="divgrupo" class="form-group">
                    @Html.DropDownList("dwGrupo", new SelectList(ViewBag.Categoria, "cbo_codigo", "cbo_descripcion", "0"), new { @class = "selectpicker", multiple = "multiple", @data_live_search = "true", @id = "dwGrupo", @name = "dwGrupo", style = "width:270px;max-width:270px;", @onchange = "ListarCategoria()" })

                </div>
            </div>
        </div>
        <div class="col-sm-3">

            <label for="dwCate">Categoria</label>
            <div class="form-group">
                <div id="divcateg" class="form-group">
                    @Html.DropDownList("dwCate", new SelectList(ViewBag.Categoria, "cbo_codigo", "cbo_descripcion", "0"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwCate", @onchange = "ListarSubCategoria()" })
                </div>
            </div>
        </div>

    </div>
    <div class="row">        
        <div class="col-sm-3">
            <label for="dwsbCate">Sub-Categ.</label>
            <div class="form-group">
                <div id="divsbcateg" class="form-group">
                    @Html.DropDownList("dwsbCate", new SelectList(ViewBag.Categoria, "cbo_codigo", "cbo_descripcion", "0"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwsbCate" })
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="dwEstado">Estado</label>
            <div class="form-group">
                <div id="tipodoc" class="form-group">
                    @Html.DropDownList("dwEstado", new SelectList(ViewBag.Estado, "cbo_codigo", "cbo_descripcion", "0"), new { @class = "selectpicker", multiple = "multiple", @data_live_search = "true", @id = "dwEstado", @name = "dwEstado", style = "width:270px;max-width:270px;" })
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <label for="dwCalidad">Calidad</label>
            <div class="form-group">
                <div id="tipocal" class="form-group">
                    @Html.DropDownList("dwCalidad", new MultiSelectList(ViewBag.listCalidad, "cbo_codigo", "cbo_descripcion" ), new { @class = "selectpicker", multiple = "multiple", @data_live_search = "true", @id = "dwCalidad", @name = "dwCalidad", @data_actions_box = "true", @data_selected_text_format = "count > 2", style = "width:270px;max-width:270px;" })
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <label for="txtTda">Tipo Reporte</label>
            <div class="form-group">
                <div id="tipor" class="form-group">
                    @Html.DropDownList("dwReporte", new SelectList(ViewBag.TipoReporte, "cbo_codigo", "cbo_descripcion", "-1"), new { @class = "selectpicker", @id = "dwReporte", @data_live_search = "false", @name = "dwReporte" })
                   
                </div>
            </div>

        </div>

    </div>
    <div class="row">

        <div class="col-sm-3">
            <label for="txtTda"></label>
            <div class="form-group">                
            </div>
        </div>

        <div class="col-sm-3">
            <label for="dwTipo"></label>
            <div class="form-group">                
            </div>
        </div>
        <div class="col-sm-3">
            <label for="dwGrupo"></label>
            <div class="form-group">
            </div>
        </div>
        <div class="col-sm-3">

            <label for="dwEstado"></label>
            <div class="form-group">
                <div id="tipodoc" class="form-group">
                    <button type="button" class="btn btn-primary" onclick="javascript: MostrarReporte()">
                        <span class="glyphicon glyphicon-th-list"></span>&nbsp;Ver Reporte
                    </button>
                </div>

            </div>

        </div>

    </div>
</div>
  
    <div class="row">
        <div class="col-md-12">
            <div id="ifrReporte" class="well" style="width: 100%; height: 800px;">
                <iframe id="load" src="" frameborder="0" marginheight="1"
                        marginwidth="1" scrolling="auto" onload="javascript: waitingDialog.hide();"></iframe>
            </div>


        </div>
    </div>
  
    @*<script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/ScriptsSelect/bootstrap-select.js"></script>*@
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

    <script src="~/Scripts/BI.js"></script>
    <script>
        $(document).ready(function () {
            $("#dwCalidad").selectpicker('selectAll');
            ListarGrupo()
        });

        function loadedFrame() {
            $('#loading').hide();
        }

        function MostrarReporte(e) {

            var tda =  $('#txtTda').val();
            var grupo = ($("#dwGrupo option:not(:selected)").length == 0 && $("#dwGrupo > option").length > 1 ? "0" : $('#dwGrupo').val()); // $('#dwGrupo').val();
            var tipo = $('#dwTipo').val();
            //var str = grupo.toString();
            var cate = ($("#dwCate option:not(:selected)").length == 0 && $("#dwCate > option").length > 1 ? "0" : $('#dwCate').val()); // $('#dwCate').val();
            var sbCate = ($("#dwsbCate option:not(:selected)").length == 0 && $("#dwsbCate > option").length > 1 ? "0" : $('#dwsbCate').val());  //$('#dwsbCate').val();
            var Estado = $('#dwEstado').val();
            var Calidad = ($("#dwCalidad option:not(:selected)").length == 0 && $("#dwCalidad > option").length > 1 ? "0" : $('#dwCalidad').val());// $('#dwCalidad').val();
            var tipoReport = $('#dwReporte').val();

            if (grupo == '' || grupo == null) { grupo = '0' };
            if (cate == '' || cate == null) { cate = '0' };
            if (sbCate == '' || sbCate == null) { sbCate = '0' };
            if (Estado == '' || Estado == null) { Estado = '0' };
            if (Calidad == '' || Calidad == null) { Calidad = '0' };
            grupo = grupo.toString();
            cate = cate.toString();
            sbCate = sbCate.toString();
            Estado = Estado.toString();
            Calidad = Calidad.toString();

            var TeamDetailPostBackURL = "@Url.Action("ShowGenericReportInNewWin", "Reporte")";
            if (tda != '' || tda == null) {
                waitingDialog.show('Espere un momento por favor');
                $.ajax({
                    //url: GLB_RUT_APP_REPVENR + "?tda=" + tda + "&grupo=" + grupo + "&cate=" + cate + "&subcate=" + sbCate + "&estado=" + Estado,
                    url: TeamDetailPostBackURL,// '../ReporteCrystal/ShowGenericReportInNewWin',
                    dataType: 'json',
                    type: 'POST',
                    //dataType: "html",
                    data: { cod_tda: tda, grupo: grupo, categoria: cate, subcategoria: sbCate, estado: Estado, tipo: tipo, tipoReport: tipoReport, calidad: Calidad },
                    //cache: false,
                    //async: false,
                    //dataType: "html",
                    success: function (data) {
                        //alert('ok');
                        if (data.estado == "1") {
                            $('#load').show();
                            $("#load").attr("src", "../AspNetForms/Planilla.aspx");
                        }
                        else {
                            $('#load').hide();
                            waitingDialog.hide();
                            toastr.error('Hubo un error en el reporte', "Alerta");

                        }
                        //document.getElementById("ifrReporte").innerHTML = data;
                        //waitingDialog.hide();
                        return false;
                    },
                    error: function (request, status, error) {
                        waitingDialog.hide();
                    }
                }).done(function () {

                });
            } else {

                toastr.error('Debe Ingresar Tienda', "Alerta");
            }
        }

        function ListarGrupo() {


            var data = function () { return @Html.Raw(Json.Encode(ViewBag.ClGrupo)); }();

            var dataArray = data.Data;
            var strTipo = $('#dwTipo').val();
            var listar = [];

            if (strTipo != null) {
                var lista_filter = dataArray.filter(obj => obj.cbo_filter_2 === strTipo);
                $.each(lista_filter, function (index, item) {

                    listar.push(item);
                });
            }

            llenarCombo("divgrupo", "dwGrupo", listar, '0', '', "ListarCategoria");
 
            ListarCategoria();
            ListarSubCategoria()

        }


        function ListarCategoria() {
           
            @*var jsonObj = @Html.Raw(Json.Encode(ViewBag.ClCategoria));*@
            var data = function () { return @Html.Raw(Json.Encode(ViewBag.ClCategoria)); }();
            var dataArray = data.Data;
            var strgrupo = $('#dwGrupo').val();
          
            var strTipo = $('#dwTipo').val();
            var listar = [];
            var lista_default = dataArray.filter(obj => obj.cbo_filter === '');

            //para subcategoria
            var dataSb = function () { return @Html.Raw(Json.Encode(ViewBag.ClSBCategoria)); }();
            var dataArraySb = dataSb.Data;
            var listarSb = [];

            var lista_defaultSb = dataArraySb.filter(obj => obj.cbo_filter === '');
            $.each(lista_defaultSb, function (indexSb, itemSb) {
                listarSb.push(itemSb);
            });

            var lista_filteAntSb = dataArraySb.filter(obj => obj.cbo_filter_2 === strTipo);

            //fin para subcategoria

            $.each(lista_default, function (index, item) {

                listar.push(item);

            });

            if (strgrupo != null) {

                if (strgrupo != '0') {
                    var lista_filteAnt = dataArray.filter(obj => obj.cbo_filter_2 === strTipo);

                    $.each(strgrupo, function (index, item) {

                        var lista_filter = lista_filteAnt.filter(obj => obj.cbo_filter === item);
                 
                        $.each(lista_filter, function (index2, item2) {

                            listar.push(item2);

                            var lista_filterSb = lista_filteAntSb.filter(obj => obj.cbo_filter === item2.cbo_codigo);
                          
                            $.each(lista_filterSb, function (indexSb, itemSb) {

                                listarSb.push(itemSb);
                            });

                        });
                    });
                }

                //for (var i = 0; i < strgrupo.length; i++) {
                //    if (i == 1) {
                //        var lista_filteAnt = dataArray.filter(obj => obj.cbo_filter_2 === strTipo);
                //        var cbo_filter = strgrupo[i].length == 1 ? '0' + strgrupo[i] : strgrupo[i];
                //        var lista_filter = lista_filteAnt.filter(obj => obj.cbo_filter === cbo_filter);
                 
                //        $.each(lista_filter, function (index, item) {

                //            listar.push(item);
                //        });
                //    }

                //};

                if (strgrupo == '0') {
                    var lista_filteAnt = dataArray.filter(obj => obj.cbo_filter_2 === strTipo);
                    var lista_filter = lista_filteAnt;

                    $.each(lista_filter, function (index, item) {

                        listar.push(item);
                    });
                }
            }
            llenarCombo("divcateg", "dwCate", listar, '0', '', "ListarSubCategoria");
            llenarCombo("divsbcateg", "dwsbCate", listarSb, '0', '', "");

        }

        function ListarSubCategoria() {

            var strcate = $('#dwCate').val();
            var strTipo = $('#dwTipo').val();
            @*var jsonObj = @Html.Raw(Json.Encode(ViewBag.ClCategoria));*@
            var data = function () { return @Html.Raw(Json.Encode(ViewBag.ClSBCategoria)); }();
            var dataArray = data.Data;
            //var strgrupo = $('#dwGrupo').val();
            var listar = [];



            var lista_default = dataArray.filter(obj => obj.cbo_filter === '');
            $.each(lista_default, function (index, item) {
                listar.push(item);
            });


            if (strcate != null) {


                var lista_filteAnt = dataArray.filter(obj => obj.cbo_filter_2 === strTipo);
                var cbo_filter = strcate.length == 1 ? '0' + strcate : strcate;



                $.each(strcate, function (index2, item2) {

                    var lista_filter = lista_filteAnt.filter(obj => obj.cbo_filter === item2);
                    $.each(lista_filter, function (index, item) {

                        listar.push(item);
                    });

                });

               
            }
            llenarCombo("divsbcateg", "dwsbCate", listar, '0', '', "");
            //llenarCombo("dwsbCate", listar);



        }

        function GenerarLista(Numsp, Params) {
            var Data

            var url = '@Url.Action("GenerarCombo", "Reporte")';
            function exito(rpta) {
                Data = rpta
            }
            function error(rpta) {
                BI.AbrirPopup(20, 15, "Comuniquese con Soporte Tecnico<br>" + rpta.statusText, 'Disculpe!!!', false, true, false)
            }
            BI.AjaxJsonSeg("post", url, { Numsp: Numsp, Params: Params }, false, exito, error);

            return Data
        }

        function llenarCombo(DivId, IdControl, Data, codDefecto, desDefecto, onchangeFuncion) {

            $('#' + IdControl).find('option').remove();
            var str = '<select class="selectpicker"  multiple = "multiple"  data-live-search="true" onchangeFuncion data-width="100%" id="' + IdControl + '" name="' + IdControl + '" data-actions-box="true"  data-selected-text-format="count > 2" >';
            var ItemNormal = '<option value="codItem>desItem</option>';
            var colectItemNormal = '';
          
            //if (codDefecto != '') { str += '<option value="' + codDefecto + '" selected="selected">------' + desDefecto + '------</option>'; }

            if (onchangeFuncion != '') { onchangeFuncion = 'onchange = "' + onchangeFuncion + '()"' }
            str = str.replace("onchangeFuncion", onchangeFuncion);

            $.each(Data, function (index, item) {

                colectItemNormal = colectItemNormal + ItemNormal
                var strSelected = '"';
              
                if (item.cbo_codigo == codDefecto) {
                    strSelected = '" selected="selected" '

                }
                strSelected = '" selected="selected" '; // seleccionar todos al cargar
                colectItemNormal = colectItemNormal.replace("codItem", item.cbo_codigo + strSelected);
                colectItemNormal = colectItemNormal.replace("desItem", item.cbo_descripcion);

            });

            str += colectItemNormal
            str += '</select>'

            document.getElementById(DivId).innerHTML = str

            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: true
            });

        }

        //function llenarCombo(Id, Data) {

        //    var cod_Combo = "";
        //    var des_Combo = "";
        //    $('#' + Id).find('option').remove();
        //    $.each(Data, function (index, item) {

        //        cod_Combo = item.cbo_codigo;
        //        des_Combo = item.cbo_descripcion;
        //        var option = $('<option value="' + cod_Combo + '">' + des_Combo + '</option>');

        //        $('#' + Id).append(option);

        //    });
        //}


    </script>
