@using CapaEntidad.Util;
@{
    ViewBag.Title = "Reporte de Articulos sin movimientos";
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "lista",
        OnComplete = "waitingDialog.hide();",
        OnBegin = "waitingDialog.show('Espere un momento por favor');",
        OnFailure = "waitingDialog.hide();"
    };

}

<link href="~/ContentSelect/bootstrap-select.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />

<style>
    iframe {
        border: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 800px;
    }
</style>
<p class="text-danger">Consulta de articulos sin movimiento, por filtro Tiendas semanas y máximo de pares</p>
<div class="box box-body box-primary">

    <div class="row">

        <div class="col-sm-3">
            <label for="dwCate">Tienda</label>
            <div class="form-group">
                <div class="form-group">
                    @Html.DropDownList("txtTda", new SelectList(ViewBag.tienda, "cbo_codigo", "cbo_descripcion"), new { @class = "selectpicker", @data_live_search = "true", @id = "txtTda", @name = "txtTda" })
                </div>
            </div>
        </div>

        <div  class="col-sm-3">
            <label for="txtTda">Tipo.</label>
            <div class="form-group">
                <div id="divTipo" class="form-group">
                    @Html.DropDownList("dwTipo", new SelectList(ViewBag.Tipo, "cbo_codigo", "cbo_descripcion", "0"), new { @class = "selectpicker", @id = "dwTipo", @name = "dwTipo", style = "width:270px;max-width:270px;", @onchange = "ListarGrupo()" })
                </div>
            </div>
        </div>
        <div  class="col-sm-3">
            <label for="dwGrupo">Grupo</label>
            <div class="form-group">
                <div id="divgrupo" class="form-group">
                    @Html.DropDownList("dwGrupo", new SelectList(ViewBag.Categoria, "cbo_codigo", "cbo_descripcion", "0"), new { @class = "selectpicker", multiple = "multiple", @data_live_search = "true", @id = "dwGrupo", @name = "dwGrupo", style = "width:270px;max-width:270px;", @onchange = "ListarCategoria()" })
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="dwCate">Categoria</label>
            <div class="form-group">
                <div id="divcateg" class="form-group">
                    @Html.DropDownList("dwCate", new SelectList(ViewBag.Categoria, "cbo_codigo", "cbo_descripcion", "0"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwCate" })
                </div>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-sm-3">
            <label for="dwCate">Semanas vta. a evaluar</label>
            <div class="form-group">
                <div class="form-group">
                    <input name="txtsemana" type="number" id="txtsemana" value="1" style="width:100%" autofocus class="form-control" />
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <label for="dwCate">Stock Max.</label>
            <div class="form-group">
                <div class="form-group">
                    <input name="txtpares" type="number" id="txtpares" value="1" style="width:100%" autofocus class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="dwCate">Estado</label>
            <div class="form-group">
                <div class="form-group">
                    @Html.DropDownList("txtEstado", new SelectList(ViewBag.Estado, "cbo_codigo", "cbo_descripcion"), new { @class = "selectpicker", @data_live_search = "true", @id = "txtEstado", @name = "txtEstado" })
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <label for="dwEstado"></label>
            <div class="form-group">
                <div id="tipodoc" class="form-group">
                    <button type="button" class="btn btn-primary" onclick="javascript: MostrarReporte()">
                        <span class="glyphicon glyphicon-th-list"></span>&nbsp;Ver Reporte
                    </button>
                </div>

            </div>
        </div>



    </div>


</div>
                     
                    <div class="row">
                        <div class="col-md-12">
                            <div id="ifrReporte" class="well" style="width: 100%; height: 800px;">
                                <iframe id="load" src="" frameborder="0" marginheight="1"
                                        marginwidth="1" scrolling="auto" onload="javascript: waitingDialog.hide();"></iframe>
                            </div>


                        </div>
                    </div>

               

<script src="~/Scripts/bootstrap-select.min.js"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

<script src="~/Scripts/BI.js"></script>
<script>
    $(document).ready(function () {
        
        ListarGrupo();
    });

    function loadedFrame() {
        $('#loading').hide();
    }

    function MostrarReporte(e) {

        var tda = $('#txtTda').val();
        var cadena ="-1";
        var semana = $('#txtsemana').val();
        var strpares = $('#txtpares').val();
        var strestado = $('#txtEstado').val();
        var grupo = $('#dwGrupo').val();
        var tipo = $('#dwTipo').val();
        //var str = grupo.toString();
        var cate = $('#dwCate').val();

        if (grupo == '' || grupo == null) { grupo = '0' };
        if (cate == '' || cate == null) { cate = '0' };  
        if (semana == '' || semana == null) { semana = '0' };
        if (strpares == '' || strpares == null) { strpares = '0' };

        var paresInt = parseInt(strpares);
        var semanaInt = parseInt(semana);

        grupo = grupo.toString();
        cate = cate.toString();
     
        var TeamDetailPostBackURL ="@Url.Action("ShowGenericReportArtSinMovInNewWin", "Reporte")";
        if (tda != '' && tda != null && paresInt > 0 && semanaInt > 0) {
            waitingDialog.show('Espere un momento por favor');
            $.ajax({
              
                url:TeamDetailPostBackURL,
                dataType: 'json',
                type: 'POST',
                data: { cod_cadena: cadena, cod_tda: tda, nsemana: semana, maxpares: strpares, estado: strestado, grupo: grupo, categoria: cate, tipo: tipo },
                
                success: function (data) {
                    //alert('ok');
                    if (data.estado == "1")
                    {
                        $('#load').show();
                        $("#load").attr("src", "../AspNetForms/ArticuloSinMov.aspx");
                    }
                    else
                    {
                        $('#load').hide();
                        waitingDialog.hide();
                        toastr.error('Hubo un error en el reporte', "Alerta");

                    }
                    //document.getElementById("ifrReporte").innerHTML = data;
                    //waitingDialog.hide();
                    return false;
                },
                error: function (request, status, error) {
                    waitingDialog.hide();
                }
            }).done(function () {

            });
        } else {

            if (tda == '' || tda == null)
                toastr.error('Debe Ingresar Tienda', "Alerta");

            if (paresInt <= 0)
                toastr.error('Numero de Pares es inválido', "Alerta");

            if (semanaInt <= 0)
                toastr.error('Numero de semanas es inválido', "Alerta");
        }
    }

    function ListarGrupo() {


        var data = function () { return @Html.Raw(Json.Encode(ViewBag.ClGrupo)); }();

        var dataArray = data.Data;
        var strTipo = $('#dwTipo').val();
        var listar = [];

        if (strTipo != null) {
            var lista_filter = dataArray.filter(obj => obj.cbo_filter_2 === strTipo);
            $.each(lista_filter, function (index, item) {

                listar.push(item);
            });
        }
       
        llenarComboAlt("divgrupo", "dwGrupo", listar, '0', '', "ListarCategoria");
 
        ListarCategoria();
   

    }

    function ListarCategoria() {
        
        var data = function () { return @Html.Raw(Json.Encode(ViewBag.ClCategoria)); }();
        var dataArray = data.Data;
        var strgrupo = $('#dwGrupo').val();
          
        var strTipo = $('#dwTipo').val();
        var listar = [];
        var lista_default = dataArray.filter(obj => obj.cbo_filter === '');


        $.each(lista_default, function (index, item) {
            listar.push(item);
        });

        if (strgrupo != null) {

            if (strgrupo != '0') {
                var lista_filteAnt = dataArray.filter(obj => obj.cbo_filter_2 === strTipo);

                $.each(strgrupo, function (index, item) {

                    var lista_filter = lista_filteAnt.filter(obj => obj.cbo_filter === item);
                 
                    $.each(lista_filter, function (index2, item2) {

                        listar.push(item2);                       

                    });
                });
            }        

            if (strgrupo == '0') {
                var lista_filteAnt = dataArray.filter(obj => obj.cbo_filter_2 === strTipo);
                var lista_filter = lista_filteAnt;

                $.each(lista_filter, function (index, item) {

                    listar.push(item);
                });
            }
        }
        llenarComboAlt("divcateg", "dwCate", listar, '0', '', "");
     

    }

    function llenarComboAlt(DivId, IdControl, Data, codDefecto, desDefecto, onchangeFuncion) {

        $('#' + IdControl).find('option').remove();
        var str = '<select class="selectpicker"  multiple = "multiple"  data-live-search="true" onchangeFuncion data-width="100%" id="' + IdControl + '" name="' + IdControl + '">';
        var ItemNormal = '<option value="codItem>desItem</option>';
        var colectItemNormal = '';

        if (onchangeFuncion != '') { onchangeFuncion = 'onchange = "' + onchangeFuncion + '()"' }
        str = str.replace("onchangeFuncion", onchangeFuncion);

        $.each(Data, function (index, item) {

            colectItemNormal = colectItemNormal + ItemNormal
            var strSelected = '"';

            if (item.cbo_codigo == codDefecto) {
                strSelected = '" selected="selected" '

            }

            colectItemNormal = colectItemNormal.replace("codItem", item.cbo_codigo + strSelected);
            colectItemNormal = colectItemNormal.replace("desItem", item.cbo_descripcion);

        });

        str += colectItemNormal
        str += '</select>'

        document.getElementById(DivId).innerHTML = str

        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });

    }

</script>
