@using CapaEntidad.Util;
@{
    ViewBag.Title = "Reporte Rendimiento por Categoria";
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "lista",
        OnComplete = "waitingDialog.hide();",
        OnBegin = "waitingDialog.show('Espere un momento por favor');",
        OnFailure = "waitingDialog.hide();"
    };

}


<link href="~/ContentSelect/bootstrap-select.css" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />

<style>
    iframe {
        border: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 800px;
    }
</style>
<p class="text-danger">Consulta de reporte de rendimiento por categoria, por filtro Tienda , tipo y semana.</p>
<div class="box box-body box-primary">  
    <div class="row">
        <div class="col-sm-3">
            <label for="txtTda">Distrito.</label>
            <div class="form-group">
                <div id="distrito" class="form-group">
                    @Html.DropDownList("dwDis", new SelectList(ViewBag.Distrito, "cod_dis", "des_dis", "-1"), new { @class = "selectpicker",  @data_live_search = "true", @id = "dwDis", @name = "dwDis", @onchange = "ListarTienda()" })
                </div>
            </div>
        </div> 
        <div class="col-sm-3">
            <label for="txtTda">Cod Tda.</label>
            <div class="form-group">
                <div id="div_tda" class="form-group">
                    @Html.DropDownList("dwtda", new SelectList(ViewBag.tienda, "cod_entid", "des_entid", "0"), new { @class = "selectpicker", multiple = "multiple", @data_live_search = "true", @id = "dwtda", @name = "dwtda" })
                </div>
            </div>
        </div>      
        
        <div class="col-sm-3">
            <label for="txtTda">Tipo</label>
            <div class="form-group">
                <div id="div_tipo" class="form-group">
                    @Html.DropDownList("dwTipo", new SelectList(ViewBag.Tipo, "cbo_codigo", "cbo_descripcion", "0"), new { @class = "selectpicker",  @data_live_search = "false", @id = "dwTipo", @name = "dwTipo" })
                </div>
            </div>
        </div>  
        <div class="col-sm-3">
            <label for="fecfin">Semana</label>
            <div class="form-group">
                <div class="form-group">
                    <div id="div_tipo" class="form-group">
                        @Html.DropDownList("dwSemana", new SelectList(ViewBag.Semana, "cbo_codigo", "cbo_descripcion", "0"), new { @class = "selectpicker", @data_live_search = "false", @id = "dwSemana", @name = "dwSemana" })
                    </div>
                </div>

            </div>
        </div>     
      
                         
    </div>
    <div class="row">
        <div class="col-sm-3">
            <label for="txtTda"></label>
            <div class="form-group">
               
            </div>
        </div>
        <div class="col-sm-3">
            <label for="txtTda"></label>
            <div class="form-group">
                
            </div>
        </div>


        <div class="col-sm-3">
            <label for="txtTda"></label>
            <div class="form-group">
                
            </div>
        </div>
       
        <div class="col-sm-3">
            <label for="fecfin"></label>
            <div class="form-group">
                <div id="tipodoc" class="form-group">
                    <button type="button" class="btn btn-primary" onclick="javascript: MostrarReporte()">
                        <span class="glyphicon glyphicon-th-list"></span>&nbsp;Ver Reporte
                    </button>
                </div>
            </div>
        </div>  
   
    </div>
</div>      
    <div class="row">
        <div class="col-md-12">
            <div id="ifrReporte" class="well" style="width: 100%; height: 800px;">
                <iframe id="load" src="" frameborder="0" marginheight="1"
                        marginwidth="1" scrolling="auto" onload="javascript: waitingDialog.hide();"></iframe>
            </div>


        </div>
    </div>    
    
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

    <script src="~/Scripts/BI.js"></script>

    <script>
        function ListarTienda() {
           var data = function () { return @Html.Raw(Json.Encode(ViewBag.ClTienda)); }();
            var tipo=@ViewBag.tda;

            var dataArray = data.Data;
            var strTipo = $('#dwDis').val();
            var listar = [];

            if (strTipo != null) {
                var lista_filter = (strTipo == "-1") ? dataArray.filter(obj => obj.cod_distri != strTipo) : dataArray.filter(obj => obj.cod_distri === strTipo || obj.cod_distri=='0');
                $.each(lista_filter, function (index, item) {

                    listar.push(item);
                });
            }

            llenarCombo("div_tda", "dwtda", listar, '0', '', "",tipo);
            //ListarCategoria();
            //ListarSubCategoria()
        }
        function llenarCombo(DivId, IdControl, Data, codDefecto, desDefecto, onchangeFuncion,tipo) {

            $('#' + IdControl).find('option').remove();

            

            var str =(tipo=='1')? '<select class="selectpicker" multiple = "multiple"  data-live-search="true" onchangeFuncion data-width="100%" id="' + IdControl + '" name="' + IdControl + '">':'<select class="selectpicker"  data-live-search="true" onchangeFuncion data-width="100%" id="' + IdControl + '" name="' + IdControl + '">';
            var ItemNormal = '<option value="codItem">desItem</option>';
            var colectItemNormal = '';

            //if (codDefecto != '') { str += '<option value="' + codDefecto + '" selected="selected">------' + desDefecto + '------</option>'; }

            if (onchangeFuncion != '') { onchangeFuncion = 'onchange = "' + onchangeFuncion + '()"' }
            str = str.replace("onchangeFuncion", onchangeFuncion);

            $.each(Data, function (index, item) {

                colectItemNormal = colectItemNormal + ItemNormal
                var strSelected = '"';

                if (item.cod_entid == codDefecto) {
                    strSelected = '" selected="selected" '

                }
                colectItemNormal = colectItemNormal.replace("codItem", item.cod_entid + strSelected);
                colectItemNormal = colectItemNormal.replace("desItem", item.des_entid);

            });

            str += colectItemNormal
            str += '</select>'

            document.getElementById(DivId).innerHTML = str

            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: true
            });

        }
    </script>
    
    <script>
        $(document).ready(function () {
            ListarTienda();
        });


        function MostrarReporte(e) {
            var coddis = $('#dwDis').val();
            var tda = $('#dwtda').val();
            var tipo_cat = $('#dwTipo').val();
            var semana = $('#dwSemana').val();
          
            tipo_cat = tipo_cat == '01'  ? 'S'  : tipo_cat;
            tipo_cat = tipo_cat == '02'  ? 'R'  : tipo_cat;
           
            if(coddis != '-1'){ coddis = coddis.toString();}
            if(tda != '-1'){ tda = tda.toString();}
            if(tipo_cat != '-1'){ tipo_cat = tipo_cat.toString();}

            var TeamDetailPostBackURL = "@Url.Action("ShowGenericReportRendimientoCateg", "Reporte")";
            if (tda != '' || tda == null) {
                waitingDialog.show('Espere un momento por favor');
                $.ajax({
                    //url: GLB_RUT_APP_REPVENR + "?tda=" + tda + "&grupo=" + grupo + "&cate=" + cate + "&subcate=" + sbCate + "&estado=" + Estado,
                    url: TeamDetailPostBackURL,// '../ReporteCrystal/ShowGenericReportInNewWin',
                    dataType: 'json',
                    type: 'POST',
                    //dataType: "html",
                    data: { tip_Categ:tipo_cat, cod_Dis:coddis, codEntid:tda, cod_Semana:semana},
                    //cache: false,
                    //async: false,
                    //dataType: "html",
                    success: function (data) {
                        //alert('ok');
                        if (data.estado == "1") {
                            $('#load').show();
                            $("#load").attr("src", "../AspNetForms/RendimientoxCateg.aspx");
                        }
                        else {
                            $('#load').hide();
                            waitingDialog.hide();
                            toastr.error('Hubo un error en el reporte', "Alerta");

                        }
                        //document.getElementById("ifrReporte").innerHTML = data;
                        //waitingDialog.hide();
                        return false;
                    },
                    error: function (request, status, error) {
                        waitingDialog.hide();
                    }
                }).done(function () {

                });
            } else {

                toastr.error('Debe Ingresar Tienda', "Alerta");
            }
        }


    </script>
