@using CapaEntidad.Orce
@model IEnumerable<Ent_Promotion_Orce>
@{
    ViewBag.Title = "Consulta de CUSTOMER ENGAGEMENT";
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "lista",
        OnComplete = "waitingDialog.hide();",
        OnBegin = "waitingDialog.show('Espere un momento por favor');",
        OnFailure = "waitingDialog.hide();"
    };
}
<style>
    .dataTables_processing {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 40px;
        margin-left: -50%;
        margin-top: -25px;
        padding-top: 20px;
        text-align: center;
        font-size: 1.2em;
        background-color: white;
        font-weight: bold;
        color: cornflowerblue;
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
    }

    .boton-td {
        padding-top: 3px !important;
        padding-bottom: 3px !important;
    }

    .modal-body {
        max-height: calc(100vh - 212px);
        overflow-y: auto;
    }

    p.content {
        min-height: 0 !important;
        padding: 0 !important;
        margin-right: auto !important;
        margin-left: auto !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        color: dodgerblue;
    }
</style>
<link href="@Url.Content("~/Content/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />
<style>
    iframe {
        border: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 800px;
    }
</style>
<p class="text-danger">Consulta de CUSTOMER ENGAGEMENT, por filtro de Estado,Tipo,Usuario y Rango de fecha</p>
<div class="box box-body box-primary">
    @using (Ajax.BeginForm("_Lista_Promotion", options))
    {
    <div class="row">
        <div class="col-sm-3">
            <label for="txtTda">Estado.</label>
            <div class="form-group">
                <div id="dwestado" class="form-group">
                    @*@Html.DropDownList("dwestado", new MultiSelectList(ViewBag.estado, "codigo", "descripcion", null), new { @class = "selectpicker", @id = "dwestado", @name = "dwestado", @data_live_search = "true", @multiple = "multiple", @data_actions_box = "true", @data_selected_text_format = "count > 2" })*@
                    @Html.DropDownList("dwestado", new SelectList(ViewBag.estado, "codigo", "descripcion", "0"), new { @class = "form-control selectpicker", @id = "dwestado", @name = "dwestado", @data_live_search = "true", @multiple = "multiple", @data_actions_box = "true", @data_selected_text_format = "count > 2" })
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="txtTda">Tipo.</label>
            <div class="form-group">
                <div id="tipo" class="form-group">
                    @Html.DropDownList("dwtipo", new MultiSelectList(ViewBag.tipo, "codigo", "descripcion", null), new { @class = "selectpicker", multiple = "multiple", @data_live_search = "true", @id = "dwtipo", @name = "dwtipo", @data_actions_box = "true" })
                </div>
            </div>
        </div>


        <div class="col-sm-3">
            <label for="dwCalidad">Usuario</label>
            <div class="form-group">
                <div id="usuario" class="form-group">
                    @Html.DropDownList("dwusuario", new MultiSelectList(ViewBag.usuario, "codigo", "descripcion", null), new { @class = "selectpicker", multiple = "multiple", @data_live_search = "true", @data_actions_box = "true", @id = "dwusuario", @data_selected_text_format = "count > 2", @name = "dwusuario", style = "width:270px;max-width:270px;" })
                </div>

            </div>
        </div>
      

    </div>
    <div class="row">


        <div class="col-sm-3">
            <label for="fecini">Fec. Ini</label>
            <div class="form-group">
                <div id="datepickerini" class="input-group date" data-date-format="dd-mm-yyyy">
                    <input id="fecini" name="fecini" value="" class="form-control custom-input" placeholder="dd-mm-yyyy" type="text" />
                    <span class="input-group-addon  bg-white"><img src="~/Content/images/wall-calendar-with-lines.svg" height="20" width="20"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="fecfin">Fec. Fin</label>
            <div class="form-group">
                <div id="datepickerfin" class="input-group date" data-date-format="dd-mm-yyyy">
                    <input id="fecfin" name="fecfin" value="" class="form-control" placeholder="dd-mm-yyyy" type="text" />
                    <span class="input-group-addon  bg-white"><img src="~/Content/images/wall-calendar-with-lines.svg" height="20" width="20"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <label></label><br />
            <button type="submit" title="Consultar" class="btn btn-primary">
                <i class="fa fa-search"></i>&nbsp;&nbsp;Buscar...
            </button>
            &nbsp;&nbsp;&nbsp;
            <a href="@Url.Action("ExportToExcel_Prom","Orce")" title="Exportar a excel" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-export"></i>&nbsp;&nbsp;Exportar Lista</a>
        </div>
        @*<div class="col-sm-2">                        
            <a href="@Url.Action("ExportToExcel_Prom","Orce")" title="Exportar a excel" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-export"></i>&nbsp;&nbsp;Exportar Lista</a>
        </div>*@
    </div>
    }
    <div class="box-body" id="lista" style="overflow-x: auto;">
        @{Html.RenderPartial("_Lista_Promotion", Model);}
    </div>
</div>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

<script src="~/Scripts/BI.js"></script>

<script>
    $(document).ready(function () {
        
        $("body").toggleClass('sidebar-collapse');
        
        $('#dwestado option').attr("selected", "selected");
        $('#dwestado').selectpicker('refresh');

        $('#dwtipo option').attr("selected", "selected");
        $('#dwtipo').selectpicker('refresh');

        $('#dwusuario option').attr("selected", "selected");
        $('#dwusuario').selectpicker('refresh');
    });
</script>
      
<script type="text/javascript">
    $(function () {
        $("#datepickerini").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker("setDate", "0");;
    });
    $(function () {
        $("#datepickerfin").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker("setDate", "0");;
    });
</script>
