@using CapaEntidad.Util;

@{AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "lista",
        OnComplete = "waitingDialog.hide();",
        OnBegin = "waitingDialog.show('Espere un momento por favor');",
        OnFailure = "waitingDialog.hide();"
    };
}
@model IEnumerable<CapaPresentacion.Models.ChatShop.ChatShop>

@{
    ViewBag.Title = "Pedidos ChatShop";
}


<link href="@Url.Content("~/Content/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>

<script src="@Url.Content("~/Scripts/JsBarcode.all.js")"></script>

<script src="~/Scripts/bootstrap-select.min.js"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

<script src="~/Scripts/BI.js"></script>
<style>
    iframe {
        border: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 800px;
    }
</style>


@using (Html.BeginForm("ChatShop", "Consulta", FormMethod.Post, new { @id = "Formulario" }))
{
    @Html.Hidden("CodInterno", null, new { @id = "fc_nint" })
    @Html.Hidden("IdTienda", null, new { @id = "cod_entid" })
    @Html.Hidden("NroDocumento", null, new { @id = "serie_numero" })
    @*@Html.Hidden("Ubigeo", null, new { @id = "Ubigeo" })
        @Html.Hidden("Ruc", null, new { @id = "Ruc" })
        @Html.Hidden("Cliente", null, new { @id = "Cliente" })
        @Html.Hidden("Telefono", null, new { @id = "Telefono" })
        @Html.Hidden("Direccion", null, new { @id = "Direccion" })
        @Html.Hidden("Referencia", null, new { @id = "Referencia" })*@

    <p class="text-danger">Consulta de pedidos facturados por el canal de ventas ChatShop</p>
    <div class="box box-body box-primary">
        <div class="row">
            <div class="col-md-12">
                <button name="buscar" class="btn btn-primary" onclick="SetearParametros();" type="submit"><span class="glyphicon glyphicon-search"></span>&nbsp;Buscar</button>
                @*<button type="button" class="btn btn-info" onclick="javascript: MostrarReporte()"><span class="glyphicon glyphicon-th-list"></span>&nbsp;Ver Reporte</button>*@
            </div>
        </div>
        <br />
        <div class="row">

            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fdesde">Desde:</label>
                            <input type="text" name="fdesde" class="form-control datepicker" value="@ViewBag._fdesde" id="fdesde">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fhasta">Hasta:</label>
                            <input type="text" name="fhasta" class="form-control datepicker" value="@ViewBag._fhasta" id="fhasta">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group ">
                    <label>Cliente:</label>
                    <input type="text" placeholder="No. Documento : 12345678" name="noDocCli" id="noDocCli" class="form-control" value="@ViewBag._noDocCli" />

                </div>
            </div>
            <div class="col-md-4">
                <label>No Documento:</label>
                <input type="text" placeholder="Serie-Número:  B123-87654321" name="noDoc" id="noDoc" class="form-control" value="@ViewBag._noDoc" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-striped table-responsive dataTable">
                    <thead>
                        <tr style="background-color:#3d566e; color:#ecf0f1">
                            @*<th>Cod.Interno</th>*@
                            <th>Boleta/Factura</th>
                            <th>Fecha</th>
                            <th>Tienda</th>
                            <th>Cliente</th>
                            <th>DNI/RUC</th>
                            @*<th>Tipo</th>*@
                            <th>Importe</th>
                            <th>Guia de Courier</th>
                            <th>Estado</th>
                            <th>Actualizar Estado</th>
                            <th>LLamar a Courier</th>
                            <th>Guia (Rotulo)</th>
                            <th>Seguimiento a Courier</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:">
                        @foreach (var row in Model)
                        {
                            <tr>
                                @*<td width="30px">@row.CodInterno</td>*@
                                <td>@row.NroDocumento</td>
                                <td width="30px">@row.Fecha</td>
                                <td>@row.Tienda</td>
                                <td width="400px">@row.Cliente</td>
                                <td>@row.Ruc</td>
                                @*<td>@row.Tipo</td>*@
                                <td>@row.Importe</td>
                                @*<td>@row.CodSeguimiento</td>*@
                                @*<td>@row.Estado</td>*@
                                @if (@row.CodSeguimiento != "")
                                {
                                    <td width="250px"><span class="glyphicon glyphicon-barcode" title="Código de Guía"></span>&nbsp;@row.CodSeguimiento</td>
                                }
                                else
                                {
                                    <td width="250px"><span class="glyphicon glyphicon-question-sign" title="Falta Código de Guia"></span>&nbsp;@row.CodSeguimiento</td>
                                }

                                @if (@row.Estado == "DELIVERY DESPACHADO")
                                {
                                    <td><span class="glyphicon glyphicon-ok"></span>&nbsp;@row.Estado</td>
                                }
                                else
                                {
                                    <td><span class="glyphicon glyphicon-list-alt"></span>&nbsp;@row.Estado</td>
                                }

                                @if (@row.FlagCourier == "SI")
                                //XXX
                                {
                                    if (@row.Estado == "DELIVERY DESPACHADO")
                                    {
                                        <td width="100px" class="p-0">
                                            <ul class="list-inline" style="margin-bottom: 0px;">
                                                @* NO LLAMAR A COURIER Y SOLO ACTUALIZA ESTADO DEL PEDIDO FACTURADO *@
                                                <li><a class="btn btn-info btn-sm" title="Actualizar estado" onclick="msj('2');"><span class="fa fa-refresh" aria-hidden="true"></span></a></li>
                                            </ul>
                                        </td>
                                    }
                                    else
                                    {
                                        <td width="100px" class="p-0">
                                            <ul class="list-inline" style="margin-bottom: 0px;">
                                                @* NO LLAMAR A COURIER Y SOLO ACTUALIZA ESTADO DEL PEDIDO FACTURADO *@
                                                <li><a class="btn btn-info btn-sm" title="Actualizar estado" onclick="PopupConfirmacion('@row.CodInterno','@row.Tienda','@row.NroDocumento','@row.CodSeguimiento','@row.Ruc','@row.Cliente','@row.Estado','NO');"><span class="fa fa-refresh" aria-hidden="true"></span></a></li>
                                            </ul>
                                        </td>
                                    }

                                    <td width="100px" class="p-0">
                                        <ul class="list-inline" style="margin-bottom: 0px;">
                                            @* LLAMAR A COURIER *@
                                            <li><a class="btn btn-primary btn-sm" title="Llamar a Courier" onclick="PopupConfirmacion('@row.CodInterno','@row.Tienda','@row.NroDocumento','@row.CodSeguimiento','@row.Ruc','@row.Cliente','@row.Estado','SI');"><span class="fa fa-phone" aria-hidden="true"></span></a></li>
                                        </ul>
                                    </td>

                                    //if (@row.CodSeguimiento != "" || @row.Estado != "FACTURADO")
                                    //{
                                    <td width="80px" class="p-0">
                                        <ul class="list-inline" style="margin-bottom: 0px;">
                                            <li>
                                                <a class="btn btn-primary btn-sm" title="Descargar archivo" id="guiaE" onclick="ImprimirGuia('@row.Cliente','@row.Tienda','@row.CodInterno','@row.NroDocumento','@row.CodSeguimiento','@row.Estado');"><span class="fa fa-arrow-circle-down" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </td>
                                    //}
                                    @*else
                                        {
                                            <td width="80px" class="p-0">
                                                <ul class="list-inline" style="margin-bottom: 0px;">
                                                    <li>
                                                        <a class="btn btn-primary btn-sm" title="Descargar archivo" id="guiaE" onclick="msj('3');"><span class="fa fa-arrow-circle-down" aria-hidden="true"></span></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        }*@
                                }
                                //XXX
                                else
                                {
                                    if (@row.Estado == "DELIVERY DESPACHADO")
                                    {
                                        <td width="100px" class="p-0">
                                            <ul class="list-inline" style="margin-bottom: 0px;">
                                                @* NO LLAMAR A COURIER Y SOLO ACTUALIZA ESTADO DEL PEDIDO FACTURADO *@
                                                <li><a class="btn btn-info btn-sm" title="Actualizar estado" onclick="msj('2');"><span class="fa fa-refresh" aria-hidden="true"></span></a></li>
                                            </ul>
                                        </td>
                                    }
                                    else
                                    {
                                        <td width="100px" class="p-0">
                                            <ul class="list-inline" style="margin-bottom: 0px;">
                                                @* NO LLAMAR A COURIER Y SOLO ACTUALIZA ESTADO DEL PEDIDO FACTURADO *@
                                                <li><a class="btn btn-info btn-sm" title="Actualizar estado" onclick="PopupConfirmacion('@row.CodInterno','@row.Tienda','@row.NroDocumento','@row.CodSeguimiento','@row.Ruc','@row.Cliente','@row.Estado','NO');"><span class="fa fa-refresh" aria-hidden="true"></span></a></li>
                                            </ul>
                                        </td>

                                    }

                                    <td width="100px" class="p-0">
                                        <ul class="list-inline" style="margin-bottom: 0px;">

                                            @* LLAMAR A COURIER *@
                                            <li><a class="btn btn-default btn-sm" title="Llamar a Courier" onclick="msj('0');"><span class="fa fa-phone" aria-hidden="true"></span></a></li>
                                        </ul>
                                    </td>

                                    <td width="80px" class="p-0">
                                        <ul class="list-inline" style="margin-bottom: 0px;">
                                            <li>
                                                <a class="btn btn-primary btn-sm" title="Descargar archivo" id="guiaE" onclick="ImprimirGuia('@row.Cliente','@row.Tienda','@row.CodInterno','@row.NroDocumento','@row.CodSeguimiento','@row.Estado');"><span class="fa fa-arrow-circle-down" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </td>
                                }

                                @*<td width="100px" class="p-0">
                                        <ul class="list-inline" style="margin-bottom: 0px;">
                                            <li>
                                                <a class="btn btn-primary btn-sm" title="Descargar archivo" id="guiaE" onclick="ImprimirGuia('@row.Cliente','@row.Tienda','@row.CodInterno','@row.NroDocumento','@row.CodSeguimiento');"><span class="fa fa-arrow-circle-down" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </td>*@

                                @if (@row.CodSeguimiento == "" && @row.FlagCourier == "NO")
                                {
                                    <td width="100px" class="p-0">
                                        <ul class="list-inline" style="margin-bottom: 0px;">
                                            <li>
                                                <a class="btn btn-default btn-sm" title="Ver Entrega" id="link" onclick="msj('0');"><span class="fa fa-eye-slash" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </td>
                                }
                                else if (@row.CodSeguimiento == "" && @row.FlagCourier == "SI")
                                {
                                    <td width="100px" class="p-0">
                                        <ul class="list-inline" style="margin-bottom: 0px;">
                                            <li>
                                                <a class="btn btn-primary btn-sm" title="Ver Entrega" id="link" onclick="msj('1');"><span class="fa fa-eye-slash" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </td>
                                }
                                else
                                {
                                    <td width="100px" class="p-0">
                                        <ul class="list-inline" style="margin-bottom: 0px;">
                                            <li>
                                                <a class="btn btn-primary btn-sm" title="Ver Entrega" id="link" href="https://atari.chazki.com/#/public/seguimiento/1/@row.NroDocumento.Replace("-","")" target="_blank"><span class="fa fa-eye" aria-hidden="true"></span></a>
                                            </li>
                                        </ul>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @*<div class="row">
                <div class="col-md-12">
                    <div id="ifrReporte" class="well" style="width: 100%; height: 800px;">
                        <iframe id="load" src="" frameborder="0" marginheight="1" marginwidth="1" scrolling="auto" onload="javascript: waitingDialog.hide();"></iframe>
                    </div>
                </div>
            </div>*@
    </div>
}
<div class="row">
    <img id="itf" class="hidden" />
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-app>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $('.dataTable').DataTable();


        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            startDate: "01/04/2019",
            autoclose: true
        });
    });

    function SetearParametros(e) {
    }

    @*function EnviaCourier(CodInterno, Tienda, NroDocumento, CodSeguimiento, Ubigeo, Ruc, Cliente, Telefono, Direccion, Referencia) {
        //alert(CodInterno);
        //alert(Ubigeo);
        //alert(Ruc);
        //alert(Telefono);
        alert(CodSeguimiento);

        if (CodSeguimiento == '') {
            // Ejecuta el envío
            //alert("Procesando.");
            var form = $("#Formulario");
            document.getElementById("CodInterno").value = CodInterno;
            document.getElementById("IdTienda").value = Tienda;
            document.getElementById("NroDocumento").value = NroDocumento;
            document.getElementById("Ubigeo").value = Ubigeo;
            document.getElementById("Ruc").value = Ruc;
            document.getElementById("Cliente").value = Cliente;
            document.getElementById("Telefono").value = Telefono;
            document.getElementById("Direccion").value = Direccion;
            document.getElementById("Referencia").value = Referencia;

            form.attr("action", "@Url.Action("Envia_Courier", "Consulta")");
            form.submit();
        } else {
            alert("El pedido ya ha sido enviado anteriormente.");

            toastr.success("El pedido ya ha sido enviado anterirmente", "Error");
            //MostrarListado();
            waitingDialog.hide();
        }

    }*@

    function msj(Flag) {

        //alert(Flag);

        if (Flag == '0') {
            toastr.info("El usuario de tienda no esta habilitado para utilizar esta opción", "Información");
            
        }
        if (Flag == '1') {
            toastr.info("No hay datos para mostrar", "Información");
        }
        if (Flag == '2') {
            toastr.info("El pedido ya fue actualizado anteriormente", "Información");
        }
        if (Flag == '3') {
            toastr.info("Falta generar el código Guía de Courier", "Información");
        }
    }

    function PopupConfirmacion(CodInterno, Tienda, NroDocumento, CodSeguimiento, Ruc, Cliente, Estado, FlagCourier) {
        //if (CodSeguimiento == '' && (FlagCourier == 'SI' || FlagCourier == 'NO')) {

        if (FlagCourier == 'SI' && (CodSeguimiento != '' || Estado != "FACTURADO")) {

            toastr.info("El pedido ya fue actualizado y/o enviado a courier", "Información");
            waitingDialog.hide();
        } else if (CodSeguimiento == '' && (FlagCourier == 'SI' || FlagCourier == 'NO')) {

            var envio = "'" + CodInterno + "','" + Tienda + "','" + NroDocumento + "','" + CodSeguimiento + "','" + Ruc + "','" + Cliente + "','" + FlagCourier + "'"
            //alert(envio);

            var strhtml = ''
            strhtml += '<div class="modal-header modal-header-danger" style="margin-top:0px;margin-bottom:0px;padding-top:2px;padding-bottom:2px;">'
            strhtml += '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>'
            strhtml += '<h5 class="modal-title" id="myModalLabel">'
            strhtml += '<table style="border-bottom:0px;font-size:14px;width:50%;">'
            strhtml += '<tr>'
            strhtml += '<td style="font-size:14px;width:100%;text-align:left;">Mensaje del Documento : <b>' + NroDocumento + '</b></td>'
            strhtml += '</tr>'
            strhtml += '</table>'
            strhtml += '</h5>'
            strhtml += '</div>'
            strhtml += '<div class="modal-body">'
            if (FlagCourier == "SI") {
                strhtml += 'Esta seguro de realizar el llamado a courier para despachar por delivery?</b>'
            } else {
                strhtml += 'Esta seguro de actualizar el estado del pedido sin llamar al courier?</b>'
            }

            strhtml += '</div>'
            strhtml += '<div class="modal-footer" style="margin-top:-30px">'
            strhtml += '<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>'

            strhtml += '<button type="button" class="btn btn-primary"  onclick="EnviaCourier(' + envio + ')" data-dismiss="modal">Confirmar</button>'
            //strhtml += ' <button type="button"  title="Eliminar class="btn btn-danger" data-dismiss="modal" detalle" onclick="EliminarDetalle(this)"  data-id="' + codArticulo + '" data-modal="" data-toggle="modal">Elimninar</button>';
            //strhtml += '<input type="submit" class="btn btn-primary" onclick="agregarLista()"  id="btnSubmit" value="Agregar" />'
            strhtml += '</div>'
            var options = { "backdrop": "static", keyboard: true };

            $('#myModalContent').html(strhtml);
            $('#myModal').modal(options);
            $('#myModal').modal('show');
        }

    }


    function EnviaCourier(CodInterno, Tienda, NroDocumento, CodSeguimiento, Ruc, Cliente, FlagCourier) {

        //alert("entro");
        waitingDialog.show('Espere un momento por favor...');

        var objGuiaError = {
            CodInterno: CodInterno,
            IdTienda: Tienda,
            NroDocumento: NroDocumento,
            CodSeguimiento: CodSeguimiento,
            Ruc: Ruc,
            Cliente: Cliente,
            Flag: FlagCourier,

        }

        $.ajax
          ({
              url: '../Consulta/Envia_Courier',
              dataType: "json",
              type: "POST",
              data: objGuiaError,
              success: function (data, textStatus, XMLHttpRequest) {
                  waitingDialog.hide();


                  if ((data.Success).toString() == "true") {
                      if (data.Message == "1") {

                          toastr.success("Se realizó satisfactoriamente el llamado al courier", "Éxito");
                          setInterval(function () {
                              waitingDialog.hide();
                          }, 40000);

                          location.reload(true);
                      }
                      else {
                          toastr.success("Se actualizó satisfactoriamente el estado del pedido", "Éxito");
                          setInterval(function () {
                              waitingDialog.hide();
                          }, 40000);
                          location.reload(true);
                      }
                  }
                  else {
                      if (data.Message == "2") {
                          toastr.error("No se llamó al courier,falta definir el código de Ubigeo o código Postal", "Error");
                          //MostrarListado();
                          waitingDialog.hide();
                      } if (data.Message == "99") {
                          toastr.error("Error en el servidor no se puedo realizar el llamado de courier ,porfavor intentelo mas tarde", "Error");
                          waitingDialog.hide();
                      } if (data.Message == "0") {
                          toastr.error("El trackCode ya se registró en el sistema del courier", "Error");
                          waitingDialog.hide();
                      }
                  }
              },
              error: function (xhr) {
                  waitingDialog.hide();
                  toastr.error("No se realizó el llamado de courier", "Error");
                  waitingDialog.hide();
              }

          })

        //}
        //else if (CodSeguimiento != '' && FlagCourier == 'SI') {

        //    toastr.error("El pedido ya ha sido enviado anteriormente", "Error");
        //    waitingDialog.hide();

        //    //} else if (CodSeguimiento == '' && FlagCourier == 'NO') {

        //    //    toastr.error("El usuario de tienda no esta habilitado para utilizar esta opción", "Error");
        //    //    waitingDialog.hide();
        //}
    }

    function ImprimirGuia(Cliente, Tienda, CodInterno, NroDocumento, CodSeguimiento, Estado) {
        //alert(Cliente);
        //alert(Tienda);
        //alert(CodInterno);
        //alert(CodSeguimiento);
       
        if ((Estado != "FACTURADO")) {
            var _cliente = Cliente;
            var _Tienda = Tienda
            var _CodInterno = CodInterno
            var _NroDocumento = NroDocumento
            //var _referencia = Referencia
            //var ubigeo = Ubigeo
            //var _telefono = Telefono
            //var _empresa = "Bata Perú"

            waitingDialog.show('Espere un momento por favor');
            $.ajax({
                type: "POST",                                              // tipo de request que estamos generando
                url: '@Url.Action("ImprimirCodigo", "Consulta")',                    // URL al que vamos a hacer el pedido
                data: { Cliente: _cliente, Tienda: _Tienda, CodInterno: _CodInterno, NroDocumento: _NroDocumento, CodSeguimiento: CodSeguimiento },    // data es un arreglo JSON que contiene los parámetros que
                // van a ser recibidos por la función del servidor           // tipo de contenido
                //dataType: "json",                                              // si es asincrónico o no
                success: function (data) {
                    validadoBataClub = true;
                    waitingDialog.hide();
                    if (data.estado == 1) {

                        var guia = data.guia
                        var cliente = data.cliente
                        var _direccion = data.direccion
                        var _referencia = data.referencia
                        var ubigeo = data.ubigeo
                        var _telefono = data.telefono
                        var _empresa = "Bata Perú"
                        const img = document.querySelector('img#itf');

                        /**/
                        if (guia != "") {
                            JsBarcode("#itf", guia);
                            //const img = document.querySelector('img#itf');
                        }
                        var doc = new jsPDF();
                        var fsT = 11;
                        var fsD = 12;

                        doc.setFont('courier');
                        doc.setFontType('bold');

                        if (guia != "") {
                            doc.addImage(img.src, 'png', 67, 10, 0, 0);
                        }

                        doc.setFontSize(fsT);
                        doc.text(20, 60, 'Destinatario: ');
                        doc.setFontSize(fsD);
                        doc.text(55, 60, cliente);

                        doc.setFontSize(fsT);
                        doc.text(20, 70, 'Dirección: ');
                        doc.setFontSize(fsD);
                        var direccion = _direccion;
                        var lineaDireccion = doc.splitTextToSize(direccion, 150)
                        doc.text(55, 70, lineaDireccion);

                        doc.setFontSize(fsT);
                        doc.text(20, 85, 'Referencia: ');
                        doc.setFontSize(fsD);
                        var referencia = _referencia;
                        var lineaReferencia = doc.splitTextToSize(referencia, 150)
                        doc.text(55, 85, lineaReferencia);

                        doc.setFontSize(fsT);
                        doc.text(20, 100, 'Ubigeo: ');
                        doc.setFontSize(fsD);
                        doc.text(55, 100, ubigeo);

                        doc.setFontSize(fsT);
                        doc.text(20, 115, 'Teléfono: ');
                        doc.setFontSize(fsD);
                        doc.text(55, 115, _telefono);

                        doc.setFontSize(fsT);
                        doc.text(20, 128, 'Remitente: ');
                        doc.setFontSize(fsD);
                        doc.text(55, 128, _empresa);
                        /****/

                        var mt2 = 150;
                        if (guia != "") {
                            doc.addImage(img.src, 'png', 67, 10 + mt2, 0, 0);
                        }

                        doc.setFontSize(fsT);
                        doc.text(20, 60 + mt2, 'Destinatario: ');
                        doc.setFontSize(fsD);
                        doc.text(55, 60 + mt2, cliente);

                        doc.setFontSize(fsT);
                        doc.text(20, 70 + mt2, 'Dirección: ');
                        doc.setFontSize(fsD);
                        doc.text(55, 70 + mt2, lineaDireccion);

                        doc.setFontSize(fsT);
                        doc.text(20, 85 + mt2, 'Referencia: ');
                        doc.setFontSize(fsD);
                        doc.text(55, 85 + mt2, lineaReferencia);

                        doc.setFontSize(fsT);
                        doc.text(20, 100 + mt2, 'Ubigeo: ');
                        doc.setFontSize(fsD);
                        doc.text(55, 100 + mt2, ubigeo);

                        doc.setFontSize(fsT);
                        doc.text(20, 115 + mt2, 'Teléfono: ');
                        doc.setFontSize(fsD);
                        doc.text(55, 115 + mt2, _telefono);

                        doc.setFontSize(fsT);
                        doc.text(20, 128 + mt2, 'Remitente: ');
                        doc.setFontSize(fsD);
                        doc.text(55, 128 + mt2, _empresa);

                        if (guia != "") {

                            doc.save('GuiaCourier_' + guia + '.pdf');
                            toastr.success("Se generó satisfactoriamente la Guia de Courier", "Éxito");
                            waitingDialog.hide();

                        } else {
                            doc.save('Guia_' + cliente + '.pdf');
                            toastr.success("Se generó satisfactoriamente la Guia de Cliente", "Éxito");
                            waitingDialog.hide();
                        }

                    }
                }

            })
            //} else {
            //    toastr.error("Falta generar el código Guía de Courier", "Error");
            //    waitingDialog.hide();
            //}
        } else {
                toastr.info("Falta generar el código Guía de Courier o Actualizar el pedido", "Información");
                waitingDialog.hide();

        }
    }

</script>
