@using CapaEntidad.ValeCompra
@model Ent_ValeCompra
@{
    Layout = null;
}


  <div class="modal-content">
    <div class="modal-header modal-header-danger">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Consulta de Vales</h4>
    </div>
    <div class="modal-body">

        <table class="table table-striped" RULES="none">
            <tr>
                <td colspan="2" valign="middle"><label for="dwcliente">Empresa Cliente</label></td>
                <td colspan="2">
                    <input type="text" disabled value="@Model.valCompra_razon" autofocus class="form-control" />

                </td>
            </tr>
            <tr>
                <td colspan="2" valign="middle"><label for="nombre">RUC</label></td>
                <td colspan="2">
                    <input type="text" disabled value="@Model.valCompra_ruc" autofocus class="form-control" />
                </td>
            </tr>
            <tr>
                <td colspan="2" valign="middle"><label for="nombre">Concepto</label></td>
                <td colspan="2">
                    <input type="text" disabled value="@Model.valCompra_descripcion" autofocus class="form-control" />
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center" valign="middle"><label for="nombre">Fecha vigencia de vales</label></td>
            </tr>
            <tr>
                <td width="15%" vertical-align="middle">
                    <label for="segape">&nbsp;&nbsp;Inicio</label>

                </td>
                <td width="35%">
                    <div id="datepickerini" class="input-group date" data-date-format="dd-mm-yyyy">
                        <input id="fecini" readonly name="fecini" value="@Model.valCompra_fecVigenIni" class="form-control custom-input" placeholder="dd-mm-yyyy" type="text" />
                        <span class="input-group-addon  bg-white"><img src="~/Content/images/wall-calendar-with-lines.svg" height="20" width="20"></span>
                    </div>
                </td>
                <td width="15%">
                    <label for="fecnac" valign="middle">&nbsp;&nbsp;Fin</label>
                </td>
                <td width="35%">
                    <div id="datepickerfin" class="input-group date" data-date-format="dd-mm-yyyy">
                        <input id="fecfin" readonly name="fecfin" value="@Model.valCompra_fecVigenFin" class="form-control" placeholder="dd-mm-yyyy" type="text" />
                        <span class="input-group-addon  bg-white"><img src="~/Content/images/wall-calendar-with-lines.svg" height="20" width="20"></span>
                    </div>
                </td>

            </tr>
            <tr>
                <td width="45%" colspan="2" vertical-align="middle">
                    <label for="segape">&nbsp;&nbsp;Monto Total (S/.)</label>



                </td>
                <td colspan="2" width="35%">
                    <input id="montoTotal" type="text" value="@Model.valCompra_total" disabled autofocus class="form-control" />

                </td>

            </tr>
        </table>
        <div class="modal-header modal-header-danger">
            <h5 class="modal-title" id="myModalLabel">Detalle de vales a Generar</h5>
        </div>
        <div style="height:100px;width: 100%; overflow-y: auto; ">
            <table border="0" id="tblvales" class="table table-striped">

                <thead>
                    <tr id="1">
                        <td align="center"><label>Cantidad</label></td>
                        <td align="center"><label>Valor (S/.)</label></td>
                    </tr>
                </thead>
                <tbody data-bind="foreach:">

                    @foreach (Ent_ValeCompraDetalle item in Model.valCompra_ListDetalle)
                    {
                        <tr>
                            <td align="center">@item.valComDet_cantidad.ToString()</td>
                            <td align="center">@item.valComDet_monto.ToString()</td>


                        </tr>

                    }
                </tbody>

            </table>

        </div>
        <br />
        <div class="modal-footer" style="margin-top:-30px">
            <table style="width:100%">
                <tr>
                    <td style="width:70%"></td>
                    <td>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </td>
                    <td>
                        <div id="btnDescargar">
                            @if (Model.valCompra_generado == "S")
                            {

                                <button title="Descargar" onclick="javascript: DescargarArchivoConsulta()" class="btnborrar btn btn-primary" data-modal="" data-toggle="modal">
                                    <span class="glyphicon glyphicon-download-alt"></span>&nbsp;Descargar
                                </button>
                            }

                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
@Html.Hidden("lblIdLote", Model.valCompra_id)

<script type="text/javascript">
    function DescargarArchivoConsulta() {
        var IdLte = $('#lblIdLote').val();
        DescargarArchivos(IdLte)
    }
</script>
