
<table class="table table-hover dataTable  table-striped table-responsive">
    <thead>
        <tr style="background-color:#3d566e; color:#ecf0f1">
            <th>Id</th>
            <th>RUC</th>
            <th>Cliente</th>
            <th>Concepto</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Usu Creación</th>
            <th>Fecha Creación</th>

            <th>                
            </th>
        </tr>
    </thead>
    <tbody data-bind="foreach:">
        @using CapaEntidad.ValeCompra
        @model IEnumerable<Ent_ValeCompra>

        @foreach (Ent_ValeCompra item in Model)
        {
            <tr>
                <td>@item.valCompra_id.ToString()</td>
                <td>@item.valCompra_ruc.ToString()</td>
                <td>@item.valCompra_razon.ToString()</td>
                <td>@item.valCompra_descripcion.ToString()</td>
                <td>@item.valCompra_fecVigenIni</td>
                <td>@item.valCompra_fecVigenFin</td>
                <td>@item.valCompra_usuCreacion</td>
                <td>@item.valCompra_fecCreacion</td>
                 <td>
                    <table style="width:100%">
                        <tr>
                            <td >&nbsp;&nbsp;
                                <div class="pull-right">
                                    <button title="Ver Detalle" class="btnconsultar btn btn-success" data-id="@item.valCompra_id" data-modal="" data-toggle="modal"><span class="glyphicon glyphicon-list-alt"></span></button>
                                </div>
                            </td>
                            <td>&nbsp;&nbsp;
                                <div class="pull-left">
                                    @if (item.valCompra_generado == "S") {
                                    <button title="Descargar Archivo" class="btndescargar btn btn-primary" data-id="@item.valCompra_id" data-modal="" data-toggle="modal"><span class="glyphicon glyphicon-download-alt"></span></button>
                                    }else{ 
                                    <button title="Generar" class="btnprocesar btn btn-primary" data-id="@item.valCompra_id" data-modal="" data-toggle="modal"><span class="glyphicon glyphicon-repeat"></span></button> 
                                    }
                                   
                                </div>
                            </td>
                        </tr>
                    </table>
                                       
                </td>
            </tr>

        }
    </tbody>
    @if (Model.Count() != 0)
    {
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Cliente</th>
                <th>Comcepto</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>
                </th>
            </tr>
        </tfoot>
    }
</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-app>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.table').dataTable({
            "language": {
                "url": "../Scripts/DataTables/Spanish.json"
            }
        });

        $(".btnconsultar").click(function () {
            waitingDialog.show('Espere un momento por favor');

            var TeamDetailPostBackURL ="@Url.Action("Consulta", "ValeCompra")";
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');

            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                datatype: "json",
                cache: true,
                success: function (data) {
                    waitingDialog.hide();

                    //debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    waitingDialog.hide();
                    // waitingDialog.hide();
                    //removeLoading();
                    alert("Dynamic content load failed.");

                }
            });
        });

        $(".btndescargar").click(function () {
          
            var $buttonClicked = $(this);
            var IdLte = $buttonClicked.attr('data-id');
            DescargarArchivos(IdLte)
        });

        $(".btnprocesar").click(function () {

            var $buttonClicked = $(this);
            var IdLte = $buttonClicked.attr('data-id');
            GenerarVales(IdLte)
        });
    });


</script>
