@model CapaPresentacion.Models.CanalVenta.CanalVenta   
@{
    ViewBag.Title =Model.nombreTipoCV + " -  " +  @ViewBag.id;
}

<br />
<div class="row">
    <div class="col-md-4">
        <div class="box box-body box-primary">
            <h4>Datos generales de la venta:</h4>
            <ul>
                <li>
                    <label>Tipo: <b>@Model.nombreTipoCV</b></label>
                </li>
                <li>
                    <label>Tienda Origen(A):</label>
                    <ul>
                        <li><label>Tienda: </label> @Model.tiendaOrigen</li>
                        <li><label>Direccion: </label> @Model.direccionA</li>
                        <!--li><label>Telefono: </label>689787-988 </!--li-->
                    </ul>
                </li>

                <li>
                    <label>Comprobante:</label>
                    <ul>
                        <li><label>Serie - Numero: </label> @Model.serieNumero </li>
                        @if (Model.tipoComprobante == "01")
                        {
                            <li><label>Tipo: </label>Factura</li>
                        }
                        else if (Model.tipoComprobante == "03")
                        {
                            <li><label>Tipo: </label>Boleta</li>
                        }
                        else
                        {
                            <li><label>Tipo: </label> @Model.tipoComprobante</li>
                        }
                        <li><label>Fecha y Hora: </label> @Model.fechaVenta  @Model.hora</li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-body box-primary">
            <h4>Datos del canal de venta:</h4>
            <ul>
                
                <li>
                    <label>Tienda Destino (B): </label>
                    <ul>
                        <li><label>Tienda: </label> @Model.tiendaDestino</li>
                        <li><label>Direccion: </label> @Model.direccionB</li>
                        <!--li><label>Telefono: </label> Telefono de la tienda B</!--li-->
                    </ul>
                </li>
                <li>
                    <label>Cliente: </label>
                    <ul>
                        <li><label>No. Documento: </label> @Model.noDocCli</li>
                        <li><label>Cliente: </label> @Model.nombreCompletoCliente</li>
                        <li><label>Telefono: </label> @Model.telefonoCliente</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    @if (@Model.tipo != "2")
    {
        <div class="col-md-4">
            <div class="box box-body box-primary">
                <h4>Datos de la entrega del producto:</h4>
                <ul>
                    <li>
                        <label>Servicio: <b>@(Model.informacionTiendaEnvio == null ? "" : Model.informacionTiendaEnvio.courier ) </b></label>
                    </li>
                    <li>
                        <label>Codigo Guia Electronica :&nbsp;&nbsp;</label><a title="Imprimir codigo de barras." style="cursor:pointer" id="guiaE"><b>@Model.guia_electronica</b></a>
                    </li>
                    <li>
                        <a title="Sigue tu pedido." href="https://chazki.com/" target="_blank" ><b>Sigue tu pedido...</b></a>
                    </li>
                    <li>
                        <label>Cliente: </label>
                        <ul>
                            <li><label>No. Documento: </label> @Model.noDocCli</li>
                            <li><label>Destino: </label> @(Model.tipo == "1" ? Model.tiendaOrigen : Model.cliente)</li>
                            <li><label>Direccion: </label> @(Model.tipo == "1" ? Model.direccionA : Model.direccionCliente)</li>
                            <li><label>Referencia: </label> @(Model.tipo == "1" ? "Sin Referencia" : Model.referenciaCliente)</li>
                            <li><label>Ubigeo: </label> @(Model.tipo == "1" ? Model.ubigeoTienda : Model.ubigeoCliente)</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-body box-primary">
            <h4>Detalle de productos</h4>
            <table class="table table-hover table-striped table-responsive">
                <thead>
                    <tr style="background-color:#3d566e; color:#ecf0f1">
                        <th>Producto</th>
                        <th>Talla</th>
                        <th>Cantidad</th>
                        <th>Pre. Uni</th>
                        <th>Descuento</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:">
                    @foreach (var item in Model.detalles)
                    {
                        <tr class="@(item.fd_colo == "C" ? "text-bold text-danger" : "" )" >
                            <td>@item.codigoProducto - @item.nombreProducto</td>
                            <td>@item.talla</td>
                            <td>@item.cantidad</td>
                            <td>@item.precioUnitario</td>
                            <td>@item.descuento</td>
                            <td>@item.total</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="box box-body box-primary">
            <h4>Informacion del estado</h4>
            @using (Html.BeginForm("ActualizarEstado", "CanalVenta", FormMethod.Post, new { @id = "frmActualizarEstado" }))
            {
                @Html.Hidden("cod_entid", Model.cod_entid,new {id = "cod_entid" });
                @Html.Hidden("fc_nint", Model.fc_nint, new { id = "fc_nint" });
                @Html.Hidden("serie_numero", Model.serieNumero, new { id = "serie_numero" });
                <ul class="list-group">
                    <li class="list-group-item list-group-item-@Model.colorEstado">
                        <span class="float-left">Estado Actual:</span>&nbsp;&nbsp;<span class="label label-@Model.colorEstado">@Model.nombreEstado</span>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Cambiar estado: </label>
                            </div>
                            <div class="col-md-12">
                                @if ((Model.estado == "004" || Model.estado == "005" || Model.estado == "006" ) && ((Session["Tienda"] == null || (Session["Tienda"] != null && Session["Tienda"].ToString() == Model.cod_entid_b && (Model.tipo == "2" || Model.tipo == "3") )) || (Session["Tienda"] == null || (Session["Tienda"] != null && Session["Tienda"].ToString() == Model.cod_entid && (Model.tipo == "1" || Model.tipo == "3")))))
                                {
                                    <button style="margin-bottom: 5px;" type="button" class="btn btn-sm btn-danger" onclick="setEstado('003');"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Rechazado</button>
                                }
                                @if (((Model.estado == "004" && Model.tipo == "2") || (Model.estado == "006" && Model.tipo == "1") || (Model.estado == "005" && Model.tipo == "3")) && ((Session["Tienda"] == null || (Session["Tienda"] != null && Session["Tienda"].ToString() == Model.cod_entid_b && (Model.tipo == "2"))) || (Session["Tienda"] == null || (Session["Tienda"] != null && Session["Tienda"].ToString() == Model.cod_entid && (Model.tipo == "1" || Model.tipo == "3")))))
                                {
                                    <button style="margin-bottom: 5px;" type="button" class="btn btn-sm btn-success" onclick="setEstado('002');"><span class="glyphicon glyphicon-ok-sign"></span>&nbsp;Entregado</button>
                                }
                                @if (Model.estado == "005" && Model.tipo == "1" && (((Session["Tienda"] == null || (Session["Tienda"] != null && Session["Tienda"].ToString() == Model.cod_entid)))))
                                {
                                    <button style="margin-bottom: 5px;" type="button" class="btn btn-sm btn-primary" onclick="setEstado('006');"><span class="glyphicon glyphicon-send"></span>&nbsp;Delivery Entregado</button>
                                }
                                @if (Model.estado == "004" && Model.tipo != "2" && (Session["Tienda"] == null || (Session["Tienda"] != null && Session["Tienda"].ToString() == Model.cod_entid_b)))
                                {
                                    <button style="margin-bottom: 5px;" type="button" class="btn btn-sm btn-info" onclick="setEstado('005');"><span class="glyphicon glyphicon-send"></span>&nbsp;Delivery Despachado</button>
                                }
                                <!--validar si la venta compete a la tienda de destino-->
                                @if (Model.estado == "001" && (Session["Tienda"] == null || (Session["Tienda"] != null && Session["Tienda"].ToString() == Model.cod_entid_b )))
                                {
                                    <button style="margin-bottom: 5px;" type="button" class="btn btn-sm btn-warning" onclick="setEstado('004');"><span class="glyphicon glyphicon-check"></span>&nbsp;Recepcionado</button>
                                }
                            </div>
                            <div class="col-md-12">
                                Descripcion o comentario:
                                @Html.TextArea("descripcion", new { @class = "form-control", @id = "descripcion" })
                            </div>
                        </div>
                    </li>                        
                    <li class="list-group-item">
                        Vendedor:
                        @Html.DropDownList("vendedor", (List<SelectListItem>)ViewBag._SelectVendedor, new { @class = "form-control select2", @id = "vendedor" })
                        @Html.Hidden("estado",null,new { @id = "estado" })
                    </li>                    
                </ul>
            }
        </div>
    </div>
    <div class="col-md-8">
        <div class="box box-body box-primary">
            <h4>Historial de cambios de estado:</h4>
            <table class="table table-hover table-striped table-responsive">
                <thead>
                    <tr style="background-color:#3d566e; color:#ecf0f1">
                        <th>Estado</th>
                        <th>Fec Hor</th>
                        <th>Usuario</th>
                        <th>Vendedor</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:">
                    <tr>
                        <td><span class="label label-default">FACTURADO</span></td>
                        <td>@Model.fechaVenta @Model.hora</td>
                        <td>@Model.tiendaOrigen</td>
                        <td>@Model.idVendedor - @Model.nomVendedor</td>
                        <td>Facturado desde la tienda de origen.</td>
                    </tr>
                    @if (Model.historialEstados != null)
                    {
                        foreach (var item in Model.historialEstados)
                        {
                            <tr>
                                <td><span class="label label-@item.colorEstado">@item.nombreEstado</span>
                                <td>@item.fecha</td>
                                <td>@item.usu_nombre</td>
                                <td>@item.cod_vendedor - @item.nomVendedor</td>
                                <td>@item.descripcion</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Index", "CanalVenta")" class="btn btn-primary"><span class="glyphicon glyphicon-step-backward"></span>&nbsp;Atras</a>
    </div>
    <img id="itf" class="hidden"/>
</div>    


<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
<script src="@Url.Content("~/Scripts/JsBarcode.all.js")"></script>

<script>
    $("#guiaE").click(function () {
        var cod_entid = $("#cod_entid").val();
        var fc_nint = $("#fc_nint").val();
        var serie_numero = $("#serie_numero").val();
        waitingDialog.show('Espere un momento por favor');
        $.ajax({
            type: "POST",                                              // tipo de request que estamos generando
            url: '@Url.Action("ImprimirCodigo", "CanalVenta")',                    // URL al que vamos a hacer el pedido
            data: {cod_entid:cod_entid , fc_nint : fc_nint , serie_numero:serie_numero},    // data es un arreglo JSON que contiene los parámetros que
            // van a ser recibidos por la función del servidor           // tipo de contenido
            //dataType: "json",                                              // si es asincrónico o no
            success: function (data) {
                validadoBataClub = true;
                waitingDialog.hide();
                if (data.estado == 1) {
                    var guia = data.guia
                    var cliente = data.cliente
                    var _direccion = data.direccion
                    var _referencia = data.referencia
                    var ubigeo = data.ubigeo

                    /**/
                    JsBarcode("#itf", guia);
                    const img = document.querySelector('img#itf');
                    var doc = new jsPDF();
                    var fsT = 11;
                    var fsD = 12;

                    doc.setFont('courier');
                    doc.setFontType('bold');
                    doc.addImage(img.src, 'png', 67, 10, 0, 0);


                    doc.setFontSize(fsT);
                    doc.text(20, 60, 'Destinatario: ');
                    doc.setFontSize(fsD);
                    doc.text(55, 60, cliente);

                    doc.setFontSize(fsT);
                    doc.text(20, 70, 'Direccion: ');
                    doc.setFontSize(fsD);
                    var direccion = _direccion;
                    var lineaDireccion = doc.splitTextToSize(direccion, 150)
                    doc.text(55, 70, lineaDireccion);

                    doc.setFontSize(fsT);
                    doc.text(20, 85, 'Referencia: ');
                    doc.setFontSize(fsD);
                    var referencia = _referencia;
                    var lineaReferencia = doc.splitTextToSize(referencia, 150)
                    doc.text(55, 85, lineaReferencia);

                    doc.setFontSize(fsT);
                    doc.text(20, 100, 'Ubigeo: ');
                    doc.setFontSize(fsD);
                    doc.text(55, 100, ubigeo);
                    /****/
                    var mt2 = 150;

                    doc.addImage(img.src, 'png', 67, 10 + mt2, 0, 0);

                    doc.setFontSize(fsT);
                    doc.text(20, 60 + mt2, 'Destinatario: ');
                    doc.setFontSize(fsD);
                    doc.text(55, 60 + mt2, cliente);

                    doc.setFontSize(fsT);
                    doc.text(20, 70 + mt2, 'Direccion: ');
                    doc.setFontSize(fsD);
                    doc.text(55, 70 + mt2, lineaDireccion);

                    doc.setFontSize(fsT);
                    doc.text(20, 85 + mt2, 'Referencia: ');
                    doc.setFontSize(fsD);
                    doc.text(55, 85 + mt2, lineaReferencia);

                    doc.setFontSize(fsT);
                    doc.text(20, 100 + mt2, 'Ubigeo: ');
                    doc.setFontSize(fsD);
                    doc.text(55, 100 + mt2, ubigeo);

                    doc.save('GuiaElectronica_'+ guia +'.pdf');
                    waitingDialog.hide();
                } else {
                    waitingDialog.hide();
                    swal({
                        title: "Error",
                        text: "Error al descargar codigo de barras.",
                        icon: "error",
                        dangerMode: true,
                    });
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) { // función que va a ejecutar si hubo algún tipo de error en el pedido
                var error = eval("(" + XMLHttpRequest.responseText + ")");
                waitingDialog.hide();
                toastr.error('Hubo un error en el registro : ' + error, "Alerta");
            }
        });
    });

    function setEstado(estado) {
        var tienda = "@(Session["Tienda"] == null ? null : Session["Tienda"].ToString())";
        console.log(tienda);
        var vendedor = $("#vendedor").children("option:selected").val();
        swal({
            title: "Cambiar estado",
            text: "¿Desea cambiar el estado de la venta?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((cambiar) => {
            if (cambiar) {
                var descripcion = $('#descripcion').val();
                if (descripcion == null || descripcion === '') {
                    swal("Ingrese el campo descripción por favor.", {
                        icon: "info",
                    });
                } else if ( (vendedor == null || vendedor === '') ) {
                    swal("Seleccione vendedor por favor.", {
                        icon: "info",
                    });
                }
                else {
                    waitingDialog.show('Espere un momento por favor');
                    $("#estado").val(estado);
                    var form = $("#frmActualizarEstado");
                    form.submit();
                }
            }
        });
    }

</script>
    @if (TempData["Success"] != null)
    {
        <script>toastr.success("@TempData["Success"]");</script>
    }
    else if ((TempData["Error"] != null))
    {
        <script>toastr.error("@TempData["Error"]");</script>
    }
    