
@{
    ViewBag.Title = "Consulta de Articulo Stock";
}
<link href="~/ContentSelect/bootstrap-select.css" rel="stylesheet" />


<style>
    #dwcliente {
        width: 200px;
    }

    .imgRedonda {
        width: 150px;
        height: 120px;
        border-radius: 15px;
    }

    #divImagen {
        width: 100%;
        height: 100%;
    }

    #lugar {
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 2px;
    }
</style>
<p class="text-danger">Consulta del stock de un articulo en las tiendas, por filtro departamento, provincia, distrito, distrito Bata , codigo de articulo,Articulo y/o talla.</p>
<div class="box box-body box-primary">
    <form id="form1">
        <div class="row">
            <div class="col-sm-3">
                <label for="dwDep">Depto.</label>
                <div class="form-group">
                    <div class="input-group">
                        <div id="tipodoc" class="input-group">
                            @Html.DropDownList("dwDep", new SelectList(ViewBag.listDepartamento, "Dep_Id", "Dep_Descripcion", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwDep", @name = "dwDep", @onchange = "ListarProvincia()" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label for="dwProv">Prov.</label>
                <div class="form-group" id="divprov">
                    <div class="input-group">
                        <div id="divprov1" class="input-group">
                            @Html.DropDownList("dwProv", new SelectList(ViewBag.General, "Dep_Id", "Dep_Descripcion", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwProv", @name = "dwProv", @onchange = "ListarDistrito()" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label for="dwDistrito">Dist.</label>
                <div class="form-group" id="divdis">
                    <div class="input-group">
                        <div id="tipodoc" class="input-group">
                            @Html.DropDownList("dwDistrito", new SelectList(ViewBag.General, "Dep_Id", "Dep_Descripcion", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwDistrito", @name = "dwDistrito" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label for="dwDistri">Dist.Bata</label>
                <div class="form-group">
                    <div class="input-group">
                        <div id="tipodoc" class="input-group">
                            @Html.DropDownList("dwDistri", new SelectList(ViewBag.distrito, "cod_dis", "des_dis", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwDistri", @name = "dwDistri" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label for="txtArticulo">Articulo</label>
                <div class="form-group">
                    <div class="input-group">
                        <div id="numdoc" class="input-group">
                            <input id="txtArticulo" name="txtArticulo" value="" maxlength="8" placeholder="codigo" autofocus class="form-control" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <label for="txtTalla">Talla</label>
                <div class="form-group">
                    <div class="input-group">
                        <div id="numdoc" class="input-group">
                            <input id="txtTalla" name="txtTalla" value="" maxlength="4" autofocus class="form-control" type="text" />
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-2">
                <label></label><br />
                <button type="button" onclick="ValidarMostrarArticulo()" title="Consultar" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>

    </form>
    <div class="modal-header modal-header-danger" style="margin-top:0px;margin-bottom:0px;padding-top:2px;padding-bottom:2px;overflow-x:auto; ">
       
            <table style="border-bottom:0px;font-size:14px;width:100%;">
                <tr>
                    <td style="font-size:14px;width:8%;text-align:left;">
                        <span id="bocuP" onclick="ocultarDivFast('tdImagen'); mostrarDivFast('bverP'); ocultarDivFast('bocuP')" class="glyphicon glyphicon-eye-close"></span>
                        <span id="bverP" onclick="mostrarDivFast('tdImagen'); ocultarDivFast('bverP'); mostrarDivFast('bocuP')" style="display:none" class="glyphicon glyphicon-picture"></span>
                    </td>
                    <td style="font-size:14px;width:92%;text-align:left;"><h5 class="modal-title" id="myModalLabel">Stock de Articulo</h5></td>
                    
                </tr>
            </table>
        
    </div>
<table id="example" class="table table-hover dataTable  table-striped table-responsive">

    <tbody>
        <tr>
            <td id="tdImagen" style="background:#FFFFFF;width:30%;text-align:center;vertical-align:middle;border: 1px solid;border-color:gainsboro">
                <div id="DivNombre"><h3>Buscando</h3></div>
                <img id="imagenCatalogo" class="imgRedonda" src="~/Content/images/lupa.jpg" width="150" height="120" />
            </td>
            <td>
                <div id="listTienda" style="overflow-x: hidden; overflow-y:auto; height: 378px;">

                </div>
            </td>
        </tr>
    </tbody>
</table>
</div>
<div><input id="NombreUsuario" type="hidden" value="@ViewBag.Usuario" /></div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-app>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/ScriptsSelect/bootstrap-select.js"></script>
<script src="~/Scripts/BI.js"></script>
<script>
    var gSite = ''

    $(document).ready(function () {
        $("body").toggleClass('sidebar-collapse');
        var pathname = window.location.pathname;
        var res = pathname.split("/")

        if (res[1].toString() != "ArticuloStock") {
            gSite = "/" + res[1].toString();
        }
        //if ($("#NombreUsuario").val() == 'Invitado')
        //    setInterval('ContinuarConexion()', 5000);
    });

    function ocultarDiv(divId) {

        $("#" + divId).hide("slow");
    }

    function mostrarDiv(divId) {

        $("#" + divId).show("slow");
    }

    function ocultarDivFast(divId) {

        $("#" + divId).hide();
    }

    function mostrarDivFast(divId) {

        $("#" + divId).show();
    }

    function ListarProvincia() {
        var combo;
        var CodDepartamento = $("#dwDep").val();

        combo = GenerarLista('1', CodDepartamento);
        llenarCombo("divprov", "dwProv", combo, '', '', "ListarDistrito");

    }
    function llenarCombo(DivId, IdControl, Data, codDefecto, desDefecto, onchangeFuncion) {

        var str = '<select class="selectpicker" data-live-search="true" onchangeFuncion data-width="100%" id="' + IdControl + '" name="' + IdControl + '">';
        var ItemNormal = '<option value="codItem">desItem</option>';
        var colectItemNormal = '';

        if (codDefecto != '') { str += '<option value="' + codDefecto + '" selected="selected">------' + desDefecto + '------</option>'; }

        if (onchangeFuncion != '') { onchangeFuncion = 'onchange = "' + onchangeFuncion + '()"' }
        str = str.replace("onchangeFuncion", onchangeFuncion);

        $.each(Data, function (index, item) {

            colectItemNormal = colectItemNormal + ItemNormal
            colectItemNormal = colectItemNormal.replace("codItem", item.Prv_Cod);
            colectItemNormal = colectItemNormal.replace("desItem", item.Prv_Descripcion);

        });

        str += colectItemNormal
        str += '</select>'

        document.getElementById(DivId).innerHTML = str

        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });

    }

    function llenarCombo_dis(DivId, IdControl, Data, codDefecto, desDefecto, onchangeFuncion) {

        var str = '<select class="selectpicker" data-live-search="true" onchangeFuncion data-width="100%" id="' + IdControl + '" name="' + IdControl + '">';
        var ItemNormal = '<option value="codItem">desItem</option>';
        var colectItemNormal = '';

        if (codDefecto != '') { str += '<option value="' + codDefecto + '" selected="selected">------' + desDefecto + '------</option>'; }

        if (onchangeFuncion != '') { onchangeFuncion = 'onchange = "' + onchangeFuncion + '()"' }
        str = str.replace("onchangeFuncion", onchangeFuncion);

        $.each(Data, function (index, item) {

            colectItemNormal = colectItemNormal + ItemNormal
            colectItemNormal = colectItemNormal.replace("codItem", item.Dist_Cod);
            colectItemNormal = colectItemNormal.replace("desItem", item.Dist_Descripcion);

        });

        str += colectItemNormal
        str += '</select>'

        document.getElementById(DivId).innerHTML = str

        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });

    }

    function llenarComboPrv(Id, Data) {
        var cod_Combo = "";
        var des_Combo = "";
        $('#' + Id).find('option').remove();
        $.each(Data, function (index, item) {
            cod_Combo = item.Prv_Cod;
            des_Combo = item.Prv_Descripcion;
            var option = $('<option value="' + cod_Combo + '">' + des_Combo + '</option>');
            $('#' + Id).append(option);

        });

        $('#dwDistrito').find('option').remove();
        var option = $('<option value="-1">-------TODOS-------</option>');
        $('#dwDistrito').append(option);
    }

    function ListarDistrito() {


        var combo;
        var CodDepartamento = $("#dwDep").val();
        var Codprovincia = $("#dwProv").val();
        var Params = CodDepartamento + '|' + Codprovincia;
        combo = GenerarLista('2', Params);
        //llenarComboDist("dwDistrito", combo);
        llenarCombo_dis("divdis", "dwDistrito", combo, '', '', "");
    }

    //function llenarComboDist(Id, Data) {
    //    var cod_Combo = "";
    //    var des_Combo = "";
    //    $('#' + Id).find('option').remove();
    //    $.each(Data, function (index, item) {
    //        cod_Combo = item.Dist_Cod;
    //        des_Combo = item.Dist_Descripcion;
    //        var option = $('<option value="' + cod_Combo + '">' + des_Combo + '</option>');
    //        $('#' + Id).append(option);

    //    });
    //}

    function GenerarLista(Numsp, Params) {
        var Data

        var url = '@Url.Action("GenerarCombo", "ArticuloStock")';
        function exito(rpta) {
            Data = rpta
        }
        function error(rpta) {
            BI.AbrirPopup(20, 15, "Comuniquese con Soporte Tecnico<br>" + rpta.statusText, 'Disculpe!!!', false, true, false)
        }
        BI.AjaxJsonSeg("post", url, { Numsp: Numsp, Params: Params }, false, exito, error);

        return Data
    }

    function ValidarMostrarArticulo() {

        var codArticulo = $('#txtArticulo').val();
        codArticulo = codArticulo.replace(/^\s+|\s+$/g, "")

        if (codArticulo != '')
            MostrarArticulo();
        else
            toastr.error("Debe ingresar un código de articulo.", "Mensaje");

    }



    function MostrarArticulo() {



        waitingDialog.show('Espere un momento por favor');
        document.getElementById('listTienda').innerHTML = '';

        var total = 0;

        var codArticulo = $('#txtArticulo').val();
        var CodDepartamento = $("#dwDep").val();
        var Codprovincia = $("#dwProv").val();
        var CodDistrito = $("#dwDistrito").val();
        var codtalla = $('#txtTalla').val();
        var coddist_b = $("#dwDistri").val();

        codArticulo = codArticulo.replace(/^\s+|\s+$/g, "")
        codtalla = codtalla.replace(/^\s+|\s+$/g, "")

        var ControllerUrl = "@Url.Action("listarStr_ArticuloStock", "ArticuloStock")";
        var css = 'class="row"'
        //css = '';
        var border2 = 'padding: 5px 5px 5px 5px;border:2px'
        //border2 =''
        var ConstHtmlTienda = '<br/><div id="lugar" style="background:#FFFFFF;' + border2 + '" ><div ' + css + '  style="background:#FFFFFF;" ><div class="col-sm-12"><div><h4><strong>VariableTienda</strong></h4><p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;DireccionTienda</p></div><table><tr><td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;">Tallas:</button></div></td><td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-success btn-xs" style="width:100%;">Total:</button></div></td>ListvariableTalla</tr><tr><td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;">Cantidad:</button></div></td></td><td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-success btn-xs" style="width:100%;">VTotal</button></div></td>ListvariableCantidad</tr></table></div><br/></div></div>';
        var ConstTalla = '<td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs"  style="width:100%;" title="ver Sustituto" onclick="MostrarArticuloSustituto(this)" data-id="codTienda" data-tda="desTiendaS" data-modal="codTalla" data-art="codArticulo"  >variableTalla <span class="glyphicon glyphicon-eye-open"></span></button></div></td>'
        var ConstCantidad = '<td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;text-align:center;">variableCantidad</button></div></td>'
        var listTalla = '';
        var listCantidad = '';
        var divFinal = '';
        var strUrlImagen = '';
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: ControllerUrl,
            contentType: "application/json; charset=utf-8",
            data: { codArticulo: codArticulo, CodDpto: CodDepartamento, CodPrv: Codprovincia, CodDist: CodDistrito, codTalla: codtalla, coddist_b: coddist_b },
            datatype: "json",
            cache: true,
            success: function (data) {

                var codTienda = ''
                var consTienda = ''

                if (data != '' && data != '[]') {
                    var valors = JSON.parse(data);
                    var nombreTienda = '';
                    var DireccionTienda = '';
                    var talla = '';
                    var cantidad = '';
                    var NombreArticulo = '';

                    $.each(valors, function (index, item) {
                        codTienda = item.Codigo_tienda;
                        NombreArticulo = item.Descripcion;
                        strUrlImagen = item.Url_Imagen
                        if (codTienda != consTienda) {


                            if (consTienda != '') {
                                var strhtml = ConstHtmlTienda;

                                strhtml = strhtml.replace("VariableTienda", nombreTienda);
                                strhtml = strhtml.replace("DireccionTienda", DireccionTienda);
                                strhtml = strhtml.replace("ListvariableTalla", listTalla);
                                strhtml = strhtml.replace("ListvariableCantidad", listCantidad);
                                strhtml = strhtml.replace("VTotal", total.toString());
                                divFinal += strhtml;
                                listTalla = '';
                                listCantidad = '';
                                total = 0;
                            }
                            consTienda = codTienda;
                        }

                        total += item.Cantidad;
                        nombreTienda = item.Nombre_Tienda;
                        DireccionTienda = item.Direccion_Tienda;
                        talla = item.Talla;
                        cantidad = (item.Cantidad).toString();

                        listTalla += ConstTalla;
                        listTalla = listTalla.replace("variableTalla", talla);
                        listTalla = listTalla.replace("desTiendaS", nombreTienda);
                        listTalla = listTalla.replace("codTienda", codTienda);
                        listTalla = listTalla.replace("codTalla", talla);
                        listTalla = listTalla.replace("codArticulo", codArticulo);


                        listCantidad += ConstCantidad;
                        listCantidad = listCantidad.replace("variableCantidad", cantidad);


                    });

                    if (codTienda != '') {
                        ConstHtmlTienda = ConstHtmlTienda.replace("VariableTienda", nombreTienda);
                        ConstHtmlTienda = ConstHtmlTienda.replace("DireccionTienda", DireccionTienda);
                        ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableTalla", listTalla);
                        ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableCantidad", listCantidad);
                        ConstHtmlTienda = ConstHtmlTienda.replace("VTotal", total.toString());
                        divFinal += ConstHtmlTienda;
                        document.getElementById('imagenCatalogo').src = strUrlImagen;
                        document.getElementById("listTienda").innerHTML = divFinal;
                        document.getElementById("DivNombre").innerHTML = '<h3>' + NombreArticulo + '</h3>';
                    }

                } else {

                    ConstHtmlTienda = ConstHtmlTienda.replace("VariableTienda", 'Articulo no encontrado.');
                    ConstHtmlTienda = ConstHtmlTienda.replace("DireccionTienda", '');
                    ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableTalla", '');
                    ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableCantidad", '');
                    //ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableCantidad", '');
                    //ConstHtmlTienda = ConstHtmlTienda.replace("VTotal", '');
                    ConstHtmlTienda = ConstHtmlTienda.replace('<i class="fa fa-map-marker"></i>', '');
                    ConstHtmlTienda = ConstHtmlTienda.replace('<button class="btn btn-white btn-xs" style="width:100%;">Tallas:</button>', '');
                    ConstHtmlTienda = ConstHtmlTienda.replace('<button class="btn btn-white btn-xs" style="width:100%;">Cantidad:</button>', '');
                    ConstHtmlTienda = ConstHtmlTienda.replace('<button class="btn btn-success btn-xs" style="width:100%;">Total:</button>', '');

                    ConstHtmlTienda = ConstHtmlTienda.replace('<button class="btn btn-success btn-xs" style="width:100%;">VTotal</button>', '');

                    divFinal += ConstHtmlTienda;
                    document.getElementById('imagenCatalogo').src = gSite + '/Content/images/lupa.jpg';
                    document.getElementById("listTienda").innerHTML = divFinal;
                    document.getElementById("DivNombre").innerHTML = '<h3>Buscando</h3>';
                }
                waitingDialog.hide();

            },
            error: function () {
                waitingDialog.hide();
                alert('Error')
            }

        });

    }


    function MostrarArticuloSustituto(control) {

        waitingDialog.show('Espere un momento por favor');
        var destienda = control.getAttribute('data-tda');
        var tienda = control.getAttribute('data-id');
        var codtalla = control.getAttribute('data-modal');
        var codArticulo = control.getAttribute('data-art');
        var calidad = '1';

        var ControllerUrl = "@Url.Action("listarStr_ArticuloSustituto", "ArticuloSustituto")";
        var css = 'class="row"'
        //css = '';
        var border2 = 'padding: 5px 5px 5px 5px;border:2px'
        //border2 =''
        var espacio = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
        var ConstHtmlTienda = '<br/><div id="lugar" style="background:#FFFFFF;' + border2 + '" ><div ' + css + '  style="background:#FFFFFF;" ><div class="col-sm-12"><div><h4><strong>VariableTienda</strong></h4></div><table><tr><td rowspan="5">VariableImagen</td><td>' + espacio + '</td><td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;">Tallas:</button></div></td>ListvariableTalla</tr><tr><td>' + espacio + '</td><td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;">Cantidad:</button></div></td>ListvariableCantidad</tr><tr></tr><tr></tr><tr></tr></table></div><br/></div></div>';
        var ConstTalla = '<td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;">variableTalla</button></div></td>'
        var ConstCantidad = '<td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;">variableCantidad</button></div></td>'
        var listTalla = '';
        var listCantidad = '';
        var divFinal = '';
        var strUrlImagen = '';
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: ControllerUrl,
            contentType: "application/json; charset=utf-8",
            data: { codTda: tienda, codArticulo: codArticulo, codTalla: codtalla, calidad: calidad },
            datatype: "json",
            cache: true,
            success: function (data) {

                var codTienda = ''
                var consTienda = ''

                if (data != '' && data != '[]') {
                    var valors = JSON.parse(data);
                    var nombreTienda = '';
                    var urlImagenSusti = '';
                    var DireccionTienda = '';
                    var talla = '';
                    var cantidad = '';
                    var NombreArticulo = '';

                    $.each(valors, function (index, item) {
                        codTienda = item.Codigo_Susti;
                        NombreArticulo = item.Descripcion;
                        strUrlImagen = item.Url_Imagen

                        if (codTienda != consTienda) {


                            if (consTienda != '') {
                                var strhtml = ConstHtmlTienda;
                                var strImagen = ' <img id="imagenCatalogoSust" class="imgRedonda" src="' + urlImagenSusti + '" width="150" height="120" />'
                                strhtml = strhtml.replace("VariableImagen", strImagen);
                                strhtml = strhtml.replace("VariableTienda", nombreTienda);
                                strhtml = strhtml.replace("DireccionTienda", DireccionTienda);
                                strhtml = strhtml.replace("ListvariableTalla", listTalla);
                                strhtml = strhtml.replace("ListvariableCantidad", listCantidad);
                                divFinal += strhtml;
                                listTalla = '';
                                listCantidad = '';
                            }
                            consTienda = codTienda;
                        }

                        urlImagenSusti = item.Url_Imagen_susti
                        nombreTienda = item.Nombre_Susti;
                        DireccionTienda = item.Direccion_Susti;
                        talla = item.Talla;
                        cantidad = (item.Cantidad).toString();

                        listTalla += ConstTalla;
                        listTalla = listTalla.replace("variableTalla", talla);

                        listCantidad += ConstCantidad;
                        listCantidad = listCantidad.replace("variableCantidad", cantidad);


                    });

                    if (codTienda != '') {
                        var strImagen = ' <img id="imagenCatalogoSust" class="imgRedonda" src="' + urlImagenSusti + '" width="150" height="120" />'
                        ConstHtmlTienda = ConstHtmlTienda.replace("VariableImagen", strImagen);
                        ConstHtmlTienda = ConstHtmlTienda.replace("VariableTienda", nombreTienda);
                        ConstHtmlTienda = ConstHtmlTienda.replace("DireccionTienda", DireccionTienda);
                        ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableTalla", listTalla);
                        ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableCantidad", listCantidad);
                        divFinal += ConstHtmlTienda;
                        //document.getElementById('imagenCatalogoOri').src = strUrlImagen;
                        //document.getElementById("listTienda").innerHTML = divFinal;
                        //document.getElementById("DivNombre").innerHTML = '<h3>' + NombreArticulo + '</h3>';


                        var strhtml = ''

                        strhtml += '<div class="modal-header modal-header-danger" style="margin-top:0px;margin-bottom:0px;padding-top:2px;padding-bottom:2px;">'
                        strhtml += '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>'
                        strhtml += '<h5 class="modal-title" id="myModalLabel">'
                        strhtml += '<table style="border-bottom:0px;font-size:14px;width:100%;">'
                        strhtml += '<tr>'
                        strhtml += '<td style="font-size:14px;width:10%;text-align:left;">'
                        var pOcu = "ocultarDivFast('tdImagenOri');mostrarDivFast('bverPS'); ocultarDivFast('bocuPS')"
                        var pVer = "mostrarDivFast('tdImagenOri');ocultarDivFast('bverPS'); mostrarDivFast('bocuPS')"
                        strhtml += '<span id="bocuPS" onclick ="' + pOcu + '"  class="glyphicon glyphicon-eye-close"></span>'
                        strhtml += '<span id="bverPS" onclick ="' + pVer + '" style="display:none" class="glyphicon glyphicon-picture"></span>'
                   
                        strhtml += '</td>'
                        strhtml += '<td style="font-size:14px;width:90%;text-align:left;">Articulos Sustitutos de:&nbsp;&nbsp;' + codArticulo + '&nbsp;&nbsp;-&nbsp;&nbsp;Tienda:&nbsp;&nbsp;' + destienda + '</td>'
                      
                        strhtml += '</tr>'
                        strhtml += '</table>'
                        strhtml += '</h5>'
                        strhtml += '</div>'
                        strhtml += '<div class="modal-body">'
                        strhtml += '<table id="example" class="table table-hover dataTable  table-striped table-responsive">'
                        strhtml += '<tbody>'
                        strhtml += '<tr>'
                        strhtml += '<td  id="tdImagenOri" style="background:#FFFFFF;width:30%;text-align:center;vertical-align:middle;border: 1px solid;border-color:gainsboro">'
                        strhtml += '<div id="DivNombreOri"><h3>' + NombreArticulo + '</h3></div>'
                        strhtml += '<img id="imagenCatalogoOri" class="imgRedonda" src="' + strUrlImagen + '" width="150" height="120" />'
                        strhtml += '</td>'
                        strhtml += '<td>'
                        strhtml += '<div id="listTiendaSusti" style="overflow-x: hidden; overflow-y:auto; height: 378px;">'
                        strhtml += divFinal
                        strhtml += '</div>'
                        strhtml += '</td>'
                        strhtml += '</tr>'
                        strhtml += '</tbody>'
                        strhtml += '</table>'
                        strhtml += '</div>'
                        strhtml += '<div class="modal-footer" style="margin-top:-30px">'
                        strhtml += '<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>'
                        strhtml += '</div>'

                        $('#myModalContent').html(strhtml);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    }

                } else {

                    toastr.error("No se encontraron Sustitutos", "Mensaje");
                }
                waitingDialog.hide();

            },
            error: function () {
                waitingDialog.hide();
                alert('Error')
            }

        });

    }


    function ContinuarConexion() {

        if (Modernizr.webworkers) {
            var worker = new Worker('/scripts/LogStats.js');
            worker.onmessage = function (event) {
                //alert(event.data);
            };
            worker.onerror = function (event) {
                alert(event.message, event);
            };
        } else {
            alert("Sorry!! you do not have web workers support.");
        }

    }



</script>

