
@{
    ViewBag.Title = "Consulta de Articulo Stock";
}
@*<link href="~/ContentSelect/bootstrap-select.css" rel="stylesheet" />*@
<link href="@Url.Content("~/Content/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />

<style>
    #dwcliente {
        width: 200px;
    }

    .imgRedonda {
        width: 150px;
        height: 120px;
        border-radius: 15px;
    }

    #divImagen {
        width: 100%;
        height: 100%;
    }

    #lugar {
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 2px;
    }
</style>
@*condicion pais*@
@if (ViewBag.Pais == "PE")

{
    <p class="text-danger">Consulta del stock de un articulo en las tiendas, por filtro departamento, provincia, distrito, distrito Bata , codigo de articulo,Articulo y/o talla.</p>
}
else
{
    <p class="text-danger">Consulta del stock de un articulo en las tiendas, por filtro codigo de articulo,Articulo y/o talla.</p>
}
<div class="box box-body box-primary">

    @using (Ajax.BeginForm("Edit", new AjaxOptions { OnBegin = "ValidarMostrarArticulo();" }))
    {
        <div class="row">
            @if (ViewBag.Pais == "PE")
            {
                <div class="col-sm-3">
                    <label for="dwDep">Depto.</label>
                    <div class="form-group">
                        @*<div class="input-group">*@
                        <div id="tipodoc" class="form-group">
                            @Html.DropDownList("dwDep", new SelectList(ViewBag.listDepartamento, "Dep_Id", "Dep_Descripcion", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwDep", @name = "dwDep", @onchange = "ListarProvincia()" })
                        </div>
                        @*</div>*@
                    </div>
                </div>

                <div class="col-sm-3">
                    <label for="dwProv">Prov.</label>
                    <div class="form-group" id="divprov">
                        @*<div class="input-group">*@
                        <div id="divprov1" class="form-group">
                            @Html.DropDownList("dwProv", new SelectList(ViewBag.General, "Dep_Id", "Dep_Descripcion", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwProv", @name = "dwProv", @onchange = "ListarDistrito()" })
                        </div>
                        @*</div>*@
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="dwDistrito">Dist.</label>
                    <div class="form-group" id="divdis">
                        @*<div class="input-group">*@
                        <div id="tipodoc" class="form-group">
                            @Html.DropDownList("dwDistrito", new SelectList(ViewBag.General, "Dep_Id", "Dep_Descripcion", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwDistrito", @name = "dwDistrito" })
                        </div>
                        @*</div>*@
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label for="dwDistri">Dist.Bata</label>
                <div class="form-group">
                    @*<div class="input-group">*@
                    <div id="tipodoc" class="form-group">
                        @Html.DropDownList("dwDistri", new SelectList(ViewBag.distrito, "cod_dis", "des_dis", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwDistri", @name = "dwDistri" })
                    </div>
                    @*</div>*@
                </div>
            </div>
            <div class="col-sm-3">
                <label for="dwCate">Cadena</label>
                <div class="form-group">
                    <div id="divcad" class="form-group">
                        @Html.DropDownList("dwcad", new SelectList(ViewBag.Cadena, "codigo", "descrip", "-1"), new { @class = "selectpicker", multiple = "multiple", @data_live_search = "true", @id = "dwcad", @name = "dwcad" })
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label for="dwCate">Orden</label>
                <div class="form-group">
                    <div id="divcad" class="form-group">
                        @Html.DropDownList("dwvta", new SelectList(ViewBag.TipoReporte, "cbo_codigo", "cbo_descripcion", "0"), new { @class = "selectpicker", @data_live_search = "false", @id = "dwvta", @name = "dwvta" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label for="txtArticulo">Articulo&nbsp;<i class="text-info fa fa-info-circle"></i></label>
                <div class="form-group">
                    @*<div class="input-group">*@
                    <div id="numdoc" class="form-group">
                        <input id="txtArticulo" data-toggle="tooltip" title="Codigo de articulo de 7 digitos. Ejm: 8896992" name="txtArticulo" value="" maxlength="8" placeholder="Ejm: 1234567" autofocus class="form-control" type="text" />
                    </div>
                    @*</div>*@
                </div>
            </div>
            <div class="col-sm-1">
                <label for="txtTalla">Talla</label>
                <div class="form-group">
                    @*<div class="input-group">*@
                    <div id="numdoc" class="form-group">
                        <input id="txtTalla" name="txtTalla" value="" maxlength="4" autofocus class="form-control" type="text" />
                    </div>

                    @*</div>*@

                </div>
            </div>
            @*sostic 06/2019*@
            @*<div class="col-sm-3">
                    <label for="">Multicanalidad</label>
                    <div class="form-group">
                        <input type="checkbox" value="1" name="multicanalidad" id="multicanalidad" />
                    </div>
                </div>*@

            <div class="col-md-7" style="padding-left: 25px;">
                @if (ViewBag.Pais == "PE") /*filtros solo para Bataweb Perú*/
                {
                    <div id="prm" class="col-sm-5" disabled>
                        <label for="segape" style="color: #3d566e;">Tipo de Canal</label>
                        <div class="form-group">
                            <label class="radio-inline"><input type="radio" name="opt" id="opttodos" checked>Todos</label>

                            <label class="radio-inline"><input type="radio" name="opt" id="optmulti">Multicanalidad</label>
                            <label class="radio-inline"><input type="radio" name="opt" id="optchat">ChatShop</label>
                        </div>
                    </div>
                }
                <div class="col-sm-2">
                    <label></label><br />
                    <button type="submit" title="Consultar" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>

            @*sostic 06/2019*@
            @*<div class="col-sm-2">
                    <label></label><br />
                    <button  type="submit" title="Consultar" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>*@
        </div>
    }

    <div class="modal-header modal-header-danger" onclick="visualizarImagen()" style="margin-top:0px;margin-bottom:0px;padding-top:2px;padding-bottom:2px;overflow-x:auto; ">

        <table style="border-bottom:0px;font-size:14px;width:100%;">
            <tr>
                <td style="font-size:14px;width:10px;text-align:left;">
                    <div>
                        <span id="bocuP" style="display:none" class="glyphicon glyphicon-eye-close"></span>
                        <span id="bverP" class="glyphicon glyphicon-picture"></span>
                    </div>
                </td>
                <td style="font-size:14px;width:98%;text-align:left;"><h5 class="modal-title" id="myModalLabel"><div id="DivNombre"> &nbsp;Stock de Articulo</div></h5></td>

            </tr>
        </table>

    </div>
    <div style="overflow-x: auto; overflow-y:hidden; height: 480px;width:100%">
        <table id="example" class="table table-hover dataTable  table-striped table-responsive">

            <tbody>
                <tr>
                    <td id="tdImagen" style="display:none;background:#FFFFFF;width:20%;text-align:center;vertical-align:middle;border: 1px solid;border-color:gainsboro">

                        <img id="imagenCatalogo" class="imgRedonda" src="~/Content/images/lupa.jpg" width="150" height="120" />
                    </td>
                    <td>
                        <div id="infoProducto"></div>
                        <div id="listTienda" style="overflow-x: hidden; overflow-y:auto; height: 378px;">

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div><input id="NombreUsuario" type="hidden" value="@ViewBag.Usuario" /></div>
<div><input id="Pais" type="hidden" value="@ViewBag.Pais" /></div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-app>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@*<script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/ScriptsSelect/bootstrap-select.js"></script>*@
<script src="~/Scripts/bootstrap-select.min.js"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="~/Scripts/BI.js"></script>
<script>
    var gSite = ''
    var gVisible = 'F'
    var gVisibleS = 'F'
    $(document).ready(function () {
        $("body").toggleClass('sidebar-collapse');
        var pathname = window.location.pathname;
        var res = pathname.split("/")

        if (res[1].toString() != "ArticuloStock") {
            gSite = "/" + res[1].toString();
        }
        //if ($("#NombreUsuario").val() == 'Invitado')
        //    setInterval('ContinuarConexion()', 5000);
    });


    function visualizarImagen() {

        if (gVisible == 'F') {
            gVisible = 'V';
            mostrarDivFast('tdImagen');
            ocultarDivFast('bverP');
            mostrarDivFast('bocuP');
        } else {
            gVisible = 'F';
            ocultarDivFast('tdImagen');
            mostrarDivFast('bverP');
            ocultarDivFast('bocuP');
        }

    }

    function ocultarDiv(divId) {

        $("#" + divId).hide("slow");
    }

    function mostrarDiv(divId) {

        $("#" + divId).show("slow");
    }

    function ocultarDivFast(divId) {

        $("#" + divId).hide();
    }

    function mostrarDivFast(divId) {

        $("#" + divId).show();
    }

    function ListarProvincia() {
        var combo;
        var CodDepartamento = $("#dwDep").val();

        combo = GenerarLista('1', CodDepartamento);
        llenarCombo("divprov", "dwProv", combo, '', '', "ListarDistrito");

    }
    function llenarCombo(DivId, IdControl, Data, codDefecto, desDefecto, onchangeFuncion) {

        var str = '<select class="selectpicker" data-live-search="true" onchangeFuncion data-width="100%" id="' + IdControl + '" name="' + IdControl + '">';
        var ItemNormal = '<option value="codItem">desItem</option>';
        var colectItemNormal = '';

        if (codDefecto != '') { str += '<option value="' + codDefecto + '" selected="selected">------' + desDefecto + '------</option>'; }

        if (onchangeFuncion != '') { onchangeFuncion = 'onchange = "' + onchangeFuncion + '()"' }
        str = str.replace("onchangeFuncion", onchangeFuncion);

        $.each(Data, function (index, item) {

            colectItemNormal = colectItemNormal + ItemNormal
            colectItemNormal = colectItemNormal.replace("codItem", item.Prv_Cod);
            colectItemNormal = colectItemNormal.replace("desItem", item.Prv_Descripcion);

        });

        str += colectItemNormal
        str += '</select>'

        document.getElementById(DivId).innerHTML = str

        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });

    }

    function llenarCombo_dis(DivId, IdControl, Data, codDefecto, desDefecto, onchangeFuncion) {

        var str = '<select class="selectpicker" data-live-search="true" onchangeFuncion data-width="100%" id="' + IdControl + '" name="' + IdControl + '">';
        var ItemNormal = '<option value="codItem">desItem</option>';
        var colectItemNormal = '';

        if (codDefecto != '') { str += '<option value="' + codDefecto + '" selected="selected">------' + desDefecto + '------</option>'; }

        if (onchangeFuncion != '') { onchangeFuncion = 'onchange = "' + onchangeFuncion + '()"' }
        str = str.replace("onchangeFuncion", onchangeFuncion);

        $.each(Data, function (index, item) {

            colectItemNormal = colectItemNormal + ItemNormal
            colectItemNormal = colectItemNormal.replace("codItem", item.Dist_Cod);
            colectItemNormal = colectItemNormal.replace("desItem", item.Dist_Descripcion);

        });

        str += colectItemNormal
        str += '</select>'

        document.getElementById(DivId).innerHTML = str

        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });

    }

    function llenarComboPrv(Id, Data) {
        var cod_Combo = "";
        var des_Combo = "";
        $('#' + Id).find('option').remove();
        $.each(Data, function (index, item) {
            cod_Combo = item.Prv_Cod;
            des_Combo = item.Prv_Descripcion;
            var option = $('<option value="' + cod_Combo + '">' + des_Combo + '</option>');
            $('#' + Id).append(option);

        });

        $('#dwDistrito').find('option').remove();
        var option = $('<option value="-1">-------TODOS-------</option>');
        $('#dwDistrito').append(option);
    }

    function ListarDistrito() {


        var combo;
        var CodDepartamento = $("#dwDep").val();
        var Codprovincia = $("#dwProv").val();
        var Params = CodDepartamento + '|' + Codprovincia;
        combo = GenerarLista('2', Params);
        //llenarComboDist("dwDistrito", combo);
        llenarCombo_dis("divdis", "dwDistrito", combo, '', '', "");
    }

    //function llenarComboDist(Id, Data) {
    //    var cod_Combo = "";
    //    var des_Combo = "";
    //    $('#' + Id).find('option').remove();
    //    $.each(Data, function (index, item) {
    //        cod_Combo = item.Dist_Cod;
    //        des_Combo = item.Dist_Descripcion;
    //        var option = $('<option value="' + cod_Combo + '">' + des_Combo + '</option>');
    //        $('#' + Id).append(option);

    //    });
    //}

    function GenerarLista(Numsp, Params) {
        var Data

        var url = '@Url.Action("GenerarCombo", "ArticuloStock")';
        function exito(rpta) {
            Data = rpta
        }
        function error(rpta) {
            BI.AbrirPopup(20, 15, "Comuniquese con Soporte Tecnico<br>" + rpta.statusText, 'Disculpe!!!', false, true, false)
        }
        BI.AjaxJsonSeg("post", url, { Numsp: Numsp, Params: Params }, false, exito, error);

        return Data
    }

    function ValidarMostrarArticulo() {

        var codArticulo = $('#txtArticulo').val();
        codArticulo = codArticulo.replace(/^\s+|\s+$/g, "")

        if (codArticulo != '')
            MostrarArticulo();
        else
            toastr.error("Debe ingresar un código de articulo.", "Mensaje");

    }



    function MostrarArticulo() {



        waitingDialog.show('Espere un momento por favor');
        document.getElementById('listTienda').innerHTML = '';

        var total = 0;
        var acum = 0;
        var codArticulo = $('#txtArticulo').val();
        var CodDepartamento = $("#dwDep").val();
        var Codprovincia = $("#dwProv").val();
        var CodDistrito = $("#dwDistrito").val();
        var codtalla = $('#txtTalla').val();
        var coddist_b = $("#dwDistri").val();

        var codcadena = $('#dwcad').val();

        var vta_acum = $('#dwvta').val();



        codcadena = codcadena.toString();

        /*sostic 06/2019*/
        var tipocanal = '0';

        if ($("#Pais").val() == 'PE') {
            if (document.getElementById('opttodos').checked) tipocanal = '0'
            if (document.getElementById('optmulti').checked) tipocanal = '1'
            if (document.getElementById('optchat').checked) tipocanal = '2'
        }

        //if ($('#multicanalidad').is(":checked")) {
        //    multicanalidad = 1;
        //}



        /*sostic 06/2019*/

        codArticulo = codArticulo.replace(/^\s+|\s+$/g, "")
        codtalla = codtalla.replace(/^\s+|\s+$/g, "")

        var ControllerUrl = "@Url.Action("listarStr_ArticuloStock", "ArticuloStock")";
        var css = 'class="row"'
        //css = '';
        var border2 = 'padding: 5px 5px 5px 5px;border:2px'
        //border2 =''

        var CabeceraResultados = '<div style="background:#FFFFFF;padding: 5px 5px 5px 5px;border:2px;margin-left: 0px;margin-right: 0px;margin-bottom: 10px;"><div class="row"><div class="col-md-3"><p style="font-size:large"><label class="label label-warning"><i class="fa fa-tags"></i> RIMS :&nbsp;&nbsp;<strong>CATEGORIA_VALOR</strong></label></p></div><div class="col-md-3"><p style="font-size:large"><label class="label label-warning"><i class="fa fa-tags"></i> STANDAR :&nbsp;&nbsp;<strong>STANDAR_VALOR</strong></label></p></div><div class="col-md-2"><p style="font-size:large"><label class="label label-warning"><i class="fa fa-tags"></i> PRECIO PLANILLA:&nbsp;&nbsp;<strong>S/ PRECIO_VALOR</strong></label></p> </div><div class="col-md-2"><p style="font-size:large"><label class="label label-warning"><i class="fa fa-tags"></i> PRECIO ACTUAL:&nbsp;&nbsp;<strong>S/ PRECIO_ACT</strong></label></p> </div></div></div>';
        var ConstHtmlTienda = '<br/><div id="lugar" style="background:#FFFFFF;' + border2 + '" ><div ' + css + '  style="background:#FFFFFF;" ><div class="col-sm-12"><div><h4><strong>VariableTienda</strong></h4><p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;DireccionTienda&nbsp;&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;&nbsp;TelefonoTienda</p></div><table><tr><td><table><tr><td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;">Tallas:</button></div></td><td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-success btn-xs" style="width:100%;">Total:</button></div></td>ListvariableTalla</tr><tr><td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;">Cantidad:</button></div></td></td><td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-success btn-xs" style="width:100%;">VTotal</button></div></td>ListvariableCantidad</tr></table></td><td><table><tbody><tr><td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-info btn-xs" style="width:100%;" title="Venta Acumulada">V. A.</button></div></td></tr><tr><td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-info btn-xs" title = "Cantidad Venta Acumulada" style="width:100%;">VACUM</button></div></td></tr></tbody></table></td></tr></table></div><br/></div></div>';
        var ConstTalla = '<td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs"  style="width:100%;" title="ver Sustituto" onclick="MostrarArticuloSustituto(this)" data-id="codTienda" data-tda="desTiendaS" data-modal="codTalla" data-art="codArticulo"  >variableTalla <span class="glyphicon glyphicon-eye-open"></span></button></div></td>'
        var ConstCantidad = '<td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;text-align:center;">variableCantidad</button></div></td>'
        var listTalla = '';
        var listCantidad = '';
        var divFinal = '';
        var strUrlImagen = '';
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: ControllerUrl,
            contentType: "application/json; charset=utf-8",
            data: { codArticulo: codArticulo, CodDpto: CodDepartamento, CodPrv: Codprovincia, CodDist: CodDistrito, codTalla: codtalla, coddist_b: coddist_b,/*sostic 06/2019*/ tipocanal: tipocanal, cadena: codcadena, vta_acum: vta_acum },
            datatype: "json",
            cache: true,
            success: function (data) {

                var codTienda = ''
                var consTienda = ''

                if (data != '' && data != '[]') {
                    var valors = JSON.parse(data)["Table"];
                    var pares_acumulados = JSON.parse(data)["Table1"];
                    var nombreTienda = '';
                    var DireccionTienda = '';
                    var talla = '';
                    var cantidad = '';
                    var NombreArticulo = '';
                    var categoria = '';
                    var standar = '';
                    var precio = '';
                    var precio_act = '';
                    var TelefonoTienda = '';
                    var length = Object.keys(valors).length - 1;
                    categoria = valors[0].Rims;
                    standar = valors[0].Standar;
                    precio = valors[0].Precio;
                    precio_act = valors[0].Precio_Act;

                    CabeceraResultados = CabeceraResultados.replace("CATEGORIA_VALOR", categoria);
                    CabeceraResultados = CabeceraResultados.replace("STANDAR_VALOR", standar);
                    CabeceraResultados = CabeceraResultados.replace("PRECIO_VALOR", precio.toFixed(2));
                    CabeceraResultados = CabeceraResultados.replace("PRECIO_ACT", precio_act.toFixed(2));

                    document.getElementById("infoProducto").innerHTML = CabeceraResultados;

                    $.each(valors, function (index, item) {



                        codTienda = item.Codigo_tienda;
                        NombreArticulo = item.Descripcion;
                        strUrlImagen = item.Url_Imagen;
                        TelefonoTienda = item.Telefono;
                        if (codTienda != consTienda) {


                            if (consTienda != '') {
                                var strhtml = ConstHtmlTienda;

                                strhtml = strhtml.replace("VariableTienda", nombreTienda);
                                strhtml = strhtml.replace("DireccionTienda", DireccionTienda);//TelefonoTienda
                                strhtml = strhtml.replace("TelefonoTienda", TelefonoTienda);//TelefonoTienda
                                strhtml = strhtml.replace("ListvariableTalla", listTalla);
                                strhtml = strhtml.replace("ListvariableCantidad", listCantidad);
                                strhtml = strhtml.replace("VTotal", total.toString());

                                //var as1 = $(pares_acumulados).filter(function (i, n) { return n.TIENDA === codTienda });

                                //if (as1.length>0)
                                //    {
                                //    acum = as1[0].PARES_ACUM;
                                //}

                                strhtml = strhtml.replace("VACUM", acum.toString());

                                //        $.each(pares_acumulados, function (_index, _item) {
                                //            var tda_pa = _item.TIENDA;
                                //            var pa = _item.PARES_ACUM;
                                //            if (tda_pa == consTienda) {
                                //                strhtml = strhtml.replace('>0<', '>' + pa + '<');
                                //            }
                                //        });



                                divFinal += strhtml;
                                listTalla = '';
                                listCantidad = '';
                                total = 0;
                                acum = 0;
                            }
                            consTienda = codTienda;
                        }

                        total += item.Cantidad;

                        var as = $(pares_acumulados).filter(function (i, n) { return n.TIENDA === codTienda });
                        if (as.length > 0) {
                            acum = as[0].PARES_ACUM;
                        }
                        nombreTienda = item.Nombre_Tienda;
                        DireccionTienda = item.Direccion_Tienda;
                        talla = item.Talla;
                        cantidad = (item.Cantidad).toString();

                        listTalla += ConstTalla;
                        listTalla = listTalla.replace("variableTalla", talla);
                        listTalla = listTalla.replace("desTiendaS", nombreTienda);
                        listTalla = listTalla.replace("codTienda", codTienda);
                        listTalla = listTalla.replace("codTalla", talla);
                        listTalla = listTalla.replace("codArticulo", codArticulo);



                        listCantidad += ConstCantidad;
                        listCantidad = listCantidad.replace("variableCantidad", cantidad);



                    });

                    if (codTienda != '') {
                        ConstHtmlTienda = ConstHtmlTienda.replace("VariableTienda", nombreTienda);
                        ConstHtmlTienda = ConstHtmlTienda.replace("DireccionTienda", DireccionTienda);
                        ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableTalla", listTalla);
                        ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableCantidad", listCantidad);
                        ConstHtmlTienda = ConstHtmlTienda.replace("VTotal", total.toString());
                        ConstHtmlTienda = ConstHtmlTienda.replace("VACUM", acum.toString());
                        divFinal += ConstHtmlTienda;
                        document.getElementById('imagenCatalogo').src = strUrlImagen;
                        document.getElementById("listTienda").innerHTML = divFinal;
                        document.getElementById("DivNombre").innerHTML = 'Stock de Articulo:&nbsp;' + codArticulo + '-' + NombreArticulo;
                    }

                } else {

                    ConstHtmlTienda = ConstHtmlTienda.replace("VariableTienda", 'Articulo no encontrado.');
                    ConstHtmlTienda = ConstHtmlTienda.replace("DireccionTienda", '');
                    ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableTalla", '');
                    ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableCantidad", '');
                    ConstHtmlTienda = ConstHtmlTienda.replace("TelefonoTienda", '');
                    //ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableCantidad", '');
                    //ConstHtmlTienda = ConstHtmlTienda.replace("VTotal", '');
                    ConstHtmlTienda = ConstHtmlTienda.replace('<i class="fa fa-map-marker"></i>', '');
                    ConstHtmlTienda = ConstHtmlTienda.replace('<button class="btn btn-white btn-xs" style="width:100%;">Tallas:</button>', '');
                    ConstHtmlTienda = ConstHtmlTienda.replace('<button class="btn btn-white btn-xs" style="width:100%;">Cantidad:</button>', '');
                    ConstHtmlTienda = ConstHtmlTienda.replace('<button class="btn btn-success btn-xs" style="width:100%;">Total:</button>', '');

                    ConstHtmlTienda = ConstHtmlTienda.replace('<button class="btn btn-success btn-xs" style="width:100%;">VTotal</button>', '');

                    divFinal += ConstHtmlTienda;
                    document.getElementById('imagenCatalogo').src = gSite + '/Content/images/lupa.jpg';
                    document.getElementById("listTienda").innerHTML = divFinal;
                    document.getElementById("DivNombre").innerHTML = 'Stock de Articulo';
                }
                waitingDialog.hide();

            },
            error: function () {
                waitingDialog.hide();
                alert('Error')
            }

        });

    }


    function MostrarArticuloSustituto(control) {
        gVisibleS = 'F';
        waitingDialog.show('Espere un momento por favor');
        var destienda = control.getAttribute('data-tda');
        var tienda = control.getAttribute('data-id');
        var codtalla = control.getAttribute('data-modal');
        var codArticulo = control.getAttribute('data-art');
        var calidad = '1';

        var ControllerUrl = "@Url.Action("listarStr_ArticuloSustituto", "ArticuloSustituto")";
        var css = 'class="row"'
        //css = '';
        var border2 = 'padding: 5px 5px 5px 5px;border:2px'
        //border2 =''
        var espacio = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
        var ConstHtmlTienda = '<br/><div id="lugar" style="background:#FFFFFF;' + border2 + '" ><div ' + css + '  style="background:#FFFFFF;" ><div class="col-sm-12"><div><h4><strong>VariableTienda</strong></h4></div><table><tr><td rowspan="5">VariableImagen</td><td>' + espacio + '</td><td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;">Tallas:</button></div></td>ListvariableTalla</tr><tr><td>' + espacio + '</td><td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;">Cantidad:</button></div></td>ListvariableCantidad</tr><tr></tr><tr></tr><tr></tr></table></div><br/></div></div>';
        var ConstTalla = '<td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;">variableTalla</button></div></td>'
        var ConstCantidad = '<td><div style="margin-top:2px;margin-right:2px;"><button class="btn btn-white btn-xs" style="width:100%;">variableCantidad</button></div></td>'
        var listTalla = '';
        var listCantidad = '';
        var divFinal = '';
        var strUrlImagen = '';
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: ControllerUrl,
            contentType: "application/json; charset=utf-8",
            data: { codTda: tienda, codArticulo: codArticulo, codTalla: codtalla, calidad: calidad },
            datatype: "json",
            cache: true,
            success: function (data) {

                var codTienda = ''
                var consTienda = ''

                if (data != '' && data != '[]') {
                    var valors = JSON.parse(data);
                    var nombreTienda = '';
                    var urlImagenSusti = '';
                    var DireccionTienda = '';
                    var talla = '';
                    var cantidad = '';
                    var NombreArticulo = '';

                    $.each(valors, function (index, item) {
                        codTienda = item.Codigo_Susti;
                        NombreArticulo = item.Descripcion;
                        strUrlImagen = item.Url_Imagen

                        if (codTienda != consTienda) {


                            if (consTienda != '') {
                                var strhtml = ConstHtmlTienda;
                                var strImagen = ' <img id="imagenCatalogoSust" class="imgRedonda" src="' + urlImagenSusti + '" width="150" height="120" />'
                                strhtml = strhtml.replace("VariableImagen", strImagen);
                                strhtml = strhtml.replace("VariableTienda", nombreTienda);
                                strhtml = strhtml.replace("DireccionTienda", DireccionTienda);
                                strhtml = strhtml.replace("ListvariableTalla", listTalla);
                                strhtml = strhtml.replace("ListvariableCantidad", listCantidad);
                                divFinal += strhtml;
                                listTalla = '';
                                listCantidad = '';
                            }
                            consTienda = codTienda;
                        }

                        urlImagenSusti = item.Url_Imagen_susti
                        nombreTienda = item.Nombre_Susti;
                        DireccionTienda = item.Direccion_Susti;
                        talla = item.Talla;
                        cantidad = (item.Cantidad).toString();

                        listTalla += ConstTalla;
                        listTalla = listTalla.replace("variableTalla", talla);

                        listCantidad += ConstCantidad;
                        listCantidad = listCantidad.replace("variableCantidad", cantidad);


                    });

                    if (codTienda != '') {
                        var strImagen = ' <img id="imagenCatalogoSust" class="imgRedonda" src="' + urlImagenSusti + '" width="150" height="120" />'
                        ConstHtmlTienda = ConstHtmlTienda.replace("VariableImagen", strImagen);
                        ConstHtmlTienda = ConstHtmlTienda.replace("VariableTienda", nombreTienda);
                        ConstHtmlTienda = ConstHtmlTienda.replace("DireccionTienda", DireccionTienda);
                        ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableTalla", listTalla);
                        ConstHtmlTienda = ConstHtmlTienda.replace("ListvariableCantidad", listCantidad);
                        divFinal += ConstHtmlTienda;
                        //document.getElementById('imagenCatalogoOri').src = strUrlImagen;
                        //document.getElementById("listTienda").innerHTML = divFinal;
                        //document.getElementById("DivNombre").innerHTML = '<h3>' + NombreArticulo + '</h3>';


                        var strhtml = ''

                        strhtml += '<div onclick ="visualizarImagenSusti()" class="modal-header modal-header-danger" style="margin-top:0px;margin-bottom:0px;padding-top:2px;padding-bottom:2px;">'
                        strhtml += '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>'
                        strhtml += '<h5 class="modal-title" id="myModalLabel">'
                        strhtml += '<table style="border-bottom:0px;font-size:14px;width:100%;">'
                        strhtml += '<tr>'
                        strhtml += '<td style="font-size:14px;width:5%;text-align:left;">'
                        strhtml += '<span id="bocuPS"   style="display:none" class="glyphicon glyphicon-eye-close"></span>'
                        strhtml += '<span id="bverPS" class="glyphicon glyphicon-picture"></span>'

                        strhtml += '</td>'
                        strhtml += '<td style="font-size:14px;width:95%;text-align:left;">Articulos Sustitutos de:&nbsp;&nbsp;' + codArticulo + '&nbsp;&nbsp;-&nbsp;&nbsp;Tienda:&nbsp;&nbsp;' + destienda + '</td>'

                        strhtml += '</tr>'
                        strhtml += '</table>'
                        strhtml += '</h5>'
                        strhtml += '</div>'
                        strhtml += '<div class="modal-body">'
                        strhtml += '<div style="overflow-x: auto; overflow-y:hidden; height: 378px;width:100%">'
                        strhtml += '<table id="example2" class="table table-hover dataTable  table-striped table-responsive">'
                        strhtml += '<tbody>'
                        strhtml += '<tr>'
                        strhtml += '<td  id="tdImagenOri" style="display:none;background:#FFFFFF;width:30%;text-align:center;vertical-align:middle;border: 1px solid;border-color:gainsboro">'
                        strhtml += '<div id="DivNombreOri"><h3>' + NombreArticulo + '</h3></div>'
                        strhtml += '<img id="imagenCatalogoOri" class="imgRedonda" src="' + strUrlImagen + '" width="150" height="120" />'
                        strhtml += '</td>'
                        strhtml += '<td>'
                        strhtml += '<div id="listTiendaSusti" style="overflow-x: hidden; overflow-y:auto; height: 378px;">'
                        strhtml += divFinal
                        strhtml += '</div>'
                        strhtml += '</td>'
                        strhtml += '</tr>'
                        strhtml += '</tbody>'
                        strhtml += '</table>'
                        strhtml += '</div>'
                        strhtml += '</div>'
                        strhtml += '<div class="modal-footer" style="margin-top:-30px">'
                        strhtml += '<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>'
                        strhtml += '</div>'

                        $('#myModalContent').html(strhtml);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    }

                } else {

                    toastr.error("No se encontraron Sustitutos", "Mensaje");
                }
                waitingDialog.hide();

            },
            error: function () {
                waitingDialog.hide();
                alert('Error')
            }

        });

    }

    function visualizarImagenSusti() {

        if (gVisibleS == 'F') {
            gVisibleS = 'V';
            mostrarDivFast('tdImagenOri');
            ocultarDivFast('bverPS');
            mostrarDivFast('bocuPS');
        } else {
            gVisibleS = 'F';
            ocultarDivFast('tdImagenOri');
            mostrarDivFast('bverPS');
            ocultarDivFast('bocuPS');
        }

    }


    function ContinuarConexion() {

        if (Modernizr.webworkers) {
            var worker = new Worker('/scripts/LogStats.js');
            worker.onmessage = function (event) {
                //alert(event.data);
            };
            worker.onerror = function (event) {
                alert(event.message, event);
            };
        } else {
            alert("Sorry!! you do not have web workers support.");
        }

    }



</script>

