@using CapaEntidad.BataClub
@model IEnumerable<Ent_BataClub_CuponesCO>
@{
    ViewBag.Title = "Consulta ....";
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "listaGuia",
        OnComplete = "waitingDialog.hide();",
        OnBegin = "waitingDialog.show('Espere un momento por favor');",
        OnFailure = "waitingDialog.hide();"
    };
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="~/ContentSelect/bootstrap-multiselect.css" rel="stylesheet" />

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<p class="text-danger">Consulta de .............</p>
<div class="box box-body box-primary">
    @using (Ajax.BeginForm("_Table", options))
    {
        <form id="form1">
            <div class="row">
                <div class="col-sm-2" style="padding-left: 25px;">
                    <label for="segape" style="color: #3d566e;">Estado cupón</label>
                    <div class="form-group">
                        <div id="estado" class="form-group">
                            @Html.DropDownList("dwest", new SelectList(ViewBag.Estado, "est_id", "est_des", "-1"), new { @class = "selectpicker dropdown-toggle btn btn-default", @data_live_search = "true", @id = "dwest", @name = "dwest", @enable = "false" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="padding-left: 25px;">
                    <label for="segape" style="color: #3d566e;">Promoción</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div id="tda" class="input-group autofocus">
                                @Html.DropDownList("dwprom", new SelectList(ViewBag.Promocion, "prom_id", "prom_des", "-1"), new { @multiple = "multiple", @class = "multiselect", @data_live_search = "true", @id = "dwprom", @name = "dwprom" })
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="hidden" name="hidden" value="">
                </div>
                <div class="col-sm-1">
                </div>

                <div class="col-sm-2" style="padding-left: 25px; width: 105px; margin-top: 24px;  margin-bottom: 10px; ">
                    <button id="btnAgregar" type="submit" title="Agregar" class="btn btn-warning">
                        <span class="glyphicon glyphicon-plus-sign"> Cupón</span>
                    </button>
                </div>

                <div class="col-sm-1" style="padding-left: 25px; width: 105px; margin-top: 24px; margin-bottom: 10px; ">
                    <button id="btnGrafica" type="button" title="Gráfica" class="btn btn-info">
                        <span class="glyphicon glyphicon-stats"> Gráfica</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2" style="padding-left: 25px; margin-right: inherit;">
                    <label for="segape" style="color: #3d566e;">DNI</label>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" style="color: #3d566e;"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="dni" type="text" class="form-control" name="dni" placeholder="Ingresar DNI">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" style="padding-left: 25px; margin-right: inherit;">
                    <label for="segape" style="color: #3d566e;">Cupón</label>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
                            <input id="cupon" type="text" class="form-control" name="cupon" placeholder="Ingresar cupon">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" style="padding-left: 25px; margin-right: inherit;">
                    <label for="segape" style="color: #3d566e;">Correo</label>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input id="correo" type="text" class="form-control" name="correo" placeholder="Ingresar correo">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2" style="padding-left: 25px; width: 105px; margin-top: 23px; margin-bottom: 10px;">
                    @*<label></label><br />*@
                    <button id="btnSearch" type="submit" title="Consultar" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"> Buscar</span>
                    </button>
                </div>
                <div class="col-md-2" style="width: 105px;margin-top: 23px;float: right;margin-right: 25px;">
                    <a class="btn btn-success glyphicon glyphicon-save-file" href="@Url.Action("ExportToExcel")" title="Exportar a excel"> Excel</a>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4" style="padding-left: 25px; ">
                    <label id="lblConsumidos"  name="lblConsumidos">Valor consumidos</label><br />
                    <label id="lblDisponibles" name="lblDisponibles">Valor disponibles</label><br />
                    <label id="lblCaducados" name="lblCaducados">Valor caducados</label>
                </div>
            </div>
        </form>
    }
    <div class="box-body" id="listaGuia" style="padding-bottom: 20px;overflow-x: auto;">
        @{Html.RenderPartial("_Table", Model);}
    </div>

</div>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div id="myModalContent1" class="modal-content" style="height:800px; width: 1000px; margin-left: -210px;">
            <div style="background-color:#c0392b; color:white;" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="myModalLabel" style="font: icon; font-weight: 600;"></h5>
            </div>
            <div id="modalBody1" class="modal-body">

            </div>
        </div>
    </div>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="~/ScriptsSelect/bootstrap-multiselect.js"></script>


<script>

    $(function () {
        $('#dwprom').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: 'Buscar Promoción...',
            onDropdownShown: function (even) {
                this.$filter.find('.multiselect-search').focus()
            }
        });
    });

    $(document).ready(function () {
        $("#btnSearch").click(function () {
            ListaPromocionesSelect();
        });

        $("#btnGrafica").click(function () {
          //  console.log("entro a boton graf");
            PopupDetalle();
        });
    });

    function ListaPromocionesSelect() {
        var strcadena = $.trim($('#dwprom').val());
        if (strcadena == null || strcadena == "") {
            toastr.error("Debe seleccionar al menos una Promoción.", "Mensaje");
            return false;
        }
        else { document.getElementById("hidden").value = strcadena; }
    }

    function PopupDetalle() {
        var ControllerUrl = "@Url.Action("_popUpGrafica", "BataClub")";
      //  console.log("entro a popupdetalle");
        $.ajax({
            type: "GET",
            url: ControllerUrl,
            contentType: "application/json; charset=utf-8",
            data: {  },
            datatype: "json",
            cache: true,
            success: function (data) {
                var options = { "backdrop": "static", keyboard: true };
                var descModal = 'Gráfica anual de Promociones';
               // console.log("entro a data");
                $('#myModalLabel').html(descModal);
                $('#modalBody1').html(data);
                $('#myModal1').modal(options);

                MostrarGrafico();
          
            },
            timeout: 10000,
            async: false,
            error: function (xhr) {
                toastr.error(xhr, 'Mensaje');
            }
        });
    }

    function MostrarGrafico() {
        //waitingDialog.show('Espere un momento por favor');
      //  console.log("entro a Mostrar grafico");
        var ControllerUrl_c = "@Url.Action("listarStr_graph", "BataClub")";
        $.ajax({
            type: "GET",
            url: ControllerUrl_c,
            contentType: "application/json; charset=utf-8",
            data: { },
            datatype: "json",
            cache: true,
            success: function (data) {          
                if (data != '' && data != '[]') {
                    console.log("success");
                    var valors = JSON.parse(data);
                    // EXTRACT VALUE FOR HTML HEADER. 
                    // ('Book ID', 'Book Name', 'Category' and 'Price')
                    var col = [];
                    for (var i = 0; i < valors.length; i++) {
                        for (var key in valors[i]) {
                            if (col.indexOf(key) === -1) {
                                col.push(key);
                            }
                        }
                    }
                    // CREATE DYNAMIC TABLE.
                    var table = document.createElement("table");
                    table.setAttribute("id", "datatable_graph");
                    // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.                     
                    var tr = table.insertRow(-1);                   // TABLE ROW.
                      
                    for (var i = 0; i < col.length; i++) {
                        var th = document.createElement("th");      // TABLE HEADER.
                        th.innerHTML = col[i];
                        tr.appendChild(th);
                    }

                    // ADD JSON DATA TO THE TABLE AS ROWS.
                    for (var i = 0; i < valors.length; i++) {

                        tr = table.insertRow(-1);

                        for (var j = 0; j < col.length; j++) {
                            var tabCell = tr.insertCell(-1);
                            tabCell.innerHTML = valors[i][col[j]];
                        }
                    }
                    // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
                    console.log(table);
                    $("#container").html(table);
                    MostrarGrafico_contenido();
                }              
                // waitingDialog.hide();
            },
            timeout: 10000,
            async: false,
            error: function () {
                // waitingDialog.hide();
                alert('Error')
            }
        });
    }

    function MostrarGrafico_contenido() {
        Highcharts.chart('containerGrafica', {
            data: {
                table: 'datatable_graph'
            },
            chart: {
                type: 'column'
            },
            title: {
                text: 'Cupones consumidos en el año actual por mes'
            },
            yAxis: {
                allowDecimals: false,
                title: {
                    text: 'Cantidad'
                }
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        this.point.y + ' ' + this.point.name.toLowerCase();
                }
            }
        }
        , function (chart) {
            //para quitar la opción viewData
            var arr = chart.options.exporting.buttons.contextButton.menuItems;
            var index = arr.indexOf("viewData");
            if (index !== -1) arr.splice(index, 1);
        }
        );
    }

</script>
