@{
    ViewBag.Title = "Lista de Promociones BataClub";
}
<style>
    .boton-td {
        padding-top: 3px !important;
        padding-bottom: 3px !important;
    }

    .modal-body {
        max-height: calc(100vh - 212px);
        overflow-y: auto;
    }
    p.content {
        min-height: 0!important;
        padding: 0!important;
        margin-right: auto!important;
        margin-left: auto!important;
        padding-left: 0!important;
        padding-right: 0!important;
        color: dodgerblue;
    }
</style>
<div class="box box-body box-primary">
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("CrearPromocion", "BataClub")" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;Crear nueva promocion</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div id="lista">
                <table id="listaPromociones" class="table dt-lista table-hover dataTable table-striped table-responsive">
                    <thead>
                        <tr style="background-color:#3d566e; color:#ecf0f1">
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Dcto (%)</th>
                            <th>Max Pares</th>
                            <th>Fec. Fin</th>
                            <th>Estado</th>
                            <th>Num Cupones</th>
                            <th>Cupones</th>    
                            <th>Tiendas</th>                                  
                            <th>Generar</th>                            
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:"></tbody>
                    <tfoot>
                        <tr>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Dcto (%)</th>
                            <th>Max Pares</th>
                            <th>Fec. Fin</th>
                            <th>Estado</th>         
                            <th>Num Cupones</th>
                            <th>Cupones</th>
                            <th>Tiendas</th>                            
                            <th>Generar</th>                            
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalListaTiendas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div class="col-md-8">
                        <p style="font-size:medium" class="text-primary modal-title" id="myModalLabel"><strong class="text-danger" id="desc_orce_tda"></strong></p>
                        <p style="font-size:medium" class="text-primary modal-title" id="myModalLabel"><b>Lista de Tiendas: &nbsp;</b></p>
                    </div>
                </div>
            </div>
            <div style="font-size:small" class="modal-body" id="listaDetTdas">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalResultCupones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-size:medium" class="text-primary modal-title" id="myModalLabel"><strong class="text-danger" id="descPromocionLista"></strong></p>
                        <p style="font-size:medium" class="text-primary modal-title" id="myModalLabel"><b>Lista de Cupones generados: &nbsp;</b></p>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="@Url.Action("ListaCuponesExcel","BataClub")" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-export"></i>&nbsp;&nbsp;Exportar Lista</a>
                    </div>
                </div>
            </div>
            <div style="font-size:small" class="modal-body" id="divListaCupones">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    var actualizar = "";
    $(document).ready(function () {
        $('.dt-lista').DataTable({
            "language": {
                "url": "../Scripts/DataTables/Spanish.json"
            },
            "bServerSide": true,
            "bAutoWidth": false,
            "sAjaxSource": '@Url.Action("getListaPromocionesAjax", "BataClub")',
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "actualizar", "value": actualizar });
            },
            "bdestroy": true,
            "start": 0,
            "order": [],
            "bDeferRender": true,
            "aoColumns": [
                  { "sName": "Codigo", "mData": "Codigo" },
                  { "sName": "Descripcion", "mData": "Descripcion", "class": "right" },
                  { "sName": "Porc_Dcto", "mData": "Porc_Dcto", "class": "right" },
                  { "sName": "MaxPares", "mData": "MaxPares", "class": "right" },
                  { "sName": "FechaFin", "mData": "FechaFin", "class": "right" },
                  {
                      "render": function (data, type, full) {
                          if (full.PromActiva == 1) {
                              return '<span class="label label-success">ACTIVO</span>'
                          } else {
                              return '<span class="label label-danger">CADUCADO</span>'
                          }
                      }
                  },
                  { "sName": "nroCupones", "mData": "nroCupones", "class": "right" },
                  {
                      "render": function (data, type, full) {
                          return '<button title="Ver lista de cupones" class="btn btn-default btn-sm cupones" data-cod-prom="' + full.Codigo + '" data-des-prom="' + full.Descripcion + '"><i class="glyphicon glyphicon-list"></i></button>';
                      }, "sClass": "boton-td"
                  },
                  {
                      "render": function (data, type, full) {
                          return '<button title="Ver lista de Tiendas" class="btn btn-default btn-sm tiendas" data-cod-prom="' + full.Codigo + '" data-des-prom="' + full.Descripcion + '"><i class="glyphicon glyphicon-list"></i></button>';
                      }, "sClass": "boton-td"
                  },
                  {
                      "render": function (data, type, full) {
                          var agregar = '';
                          if (full.PromActiva == 1){
                              agregar += '<form action="@Url.Action("GenerarCupon", "BataClub")" method="post">' +
                                  '<input type="hidden" name="codigo" value="' + full.Codigo + '"/>' +
                                  '<input type="hidden" name="descripcion" value="' + full.Descripcion + '" />' +
                                  '<input type="hidden" name="dscto" value="' + full.Porc_Dcto + '" />' +
                                  '<input type="hidden" name="fecha" value="' + full.FechaFin + '" />' +
                                  '<input type="hidden" name="pares" value="' + full.MaxPares + '" />' +
                                  '<input type="hidden" name="coupon_code" value="' + full.Coupon_Code + '" />' +
                                  '<button type="submit" class="btn btn-success btn-sm" title="Generar Cupones" ><i class="glyphicon glyphicon-plus"></i></button>'
                              return agregar;
                          }
                          else
                          {
                              return '';
                          }
                      }, "class": "boton-td"
                  }
            ]
        });
    });
</script>
<script>
    $('.dt-lista').on('click', '.cupones', function (e) {
        waitingDialog.show('Este proceso, puede tardar unos minutos.', {
            headerText: 'Espere un momento por favor.',
            headerClass: 'content2',
        });
        var codProm = $(this).attr('data-cod-prom');
        var desProm = $(this).attr('data-des-prom');
        $.ajax({
            type: "Post",
            url: '@Url.Action("getListaCupProm", "BataClub")',
            //contentType: "application/json; charset=utf-8",
            data: { codProm: codProm },
            //dataType: "json",
            success: function (data) {
                waitingDialog.hide();                
                $("#divListaCupones").html(data);
                $("#descPromocionLista").html(desProm);
                $("#modalResultCupones").modal({ backdrop: 'static', keyboard: false });               
            },
            error: function (xhr) {
                waitingDialog.hide();
                toastr.error(xhr, 'Mensaje');
            }
        });

    });
    $('.dt-lista').on('click', '.tiendas', function (e) {
        waitingDialog.show('Este proceso, puede tardar unos minutos.', {
            headerText: 'Espere un momento por favor.'
        });
        var codProm = $(this).attr('data-cod-prom');
        var desProm = $(this).attr('data-des-prom');
        $.ajax({
            type: "Post",
            url: '@Url.Action("getListaDetTdasProm", "BataClub")',
            //contentType: "application/json; charset=utf-8",
            data: { prom_id: codProm },
            //dataType: "json",
            success: function (data) {
                waitingDialog.hide();
                if (data.estado == 1) {
                    if (data.tiendas.length == 0 ) {
                        swal("Esta promocion es válida en todas las tiendas.");
                    }
                    else {
                        var table = '<table id="" class="table table-hover table-condensed dt-lista-tdas table-striped table-responsive"><thead><tr style="background-color:#3d566e; color:#ecf0f1"><th>Codigo</th><th>Tienda</th></tr></thead><tbody data-bind="foreach:">';
                        for (var i = 0; i < data.tiendas.length; i++) {
                            table += '<tr><td>' + data.tiendas[i].cod_tda + '</td><td>' + data.tiendas[i].des_tda + '</td></tr>'
                        }
                        table += '</tbody><tfoot><tr><th>Codigo</th><th>Tienda</th></tr></tfoot></table>'
                        $("#listaDetTdas").html(table);
                        $("#desc_orce_tda").html(codProm + " - " + desProm);
                        $(".dt-lista-tdas").DataTable({
                            "language": {
                                "url": "../Scripts/DataTables/Spanish.json"
                            }
                        });
                        $("#modalListaTiendas").modal({ backdrop: 'static', keyboard: false });
                    }
                } else {
                    swal("Error", "No se pudo cargar la lista de Tiendas");
                }
            },
            error: function (xhr) {
                waitingDialog.hide();
                toastr.error(xhr, 'Mensaje');
            }
        });

    });
</script>