
@{
    ViewBag.Title = "Consulta de Historial de compras de clientes";
}
<style>
    .sidebarContent{
    background-color:silver;
    /*text-align:center;
    font-size:large;*/
    /*min-height:150px;*/
    /*margin-bottom:5px;*/
}

.mainContent{
    background-color:silver;
    /*text-align:center;*/
    /*font-size:large;*/
    /*min-height:310px;*/
}
</style>

<p class="text-danger">Consulta de compras de clientes en tienda,ecommerce y catalogo, Busqueda por numero de dni. </p>
<div class="box box-body box-primary">
    <div class="row">
        <div class="col-sm-3" style="padding-left: 25px; margin-right: inherit;">
            <label for="dni" style="color: #3d566e;">DNI</label>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" style="color: #3d566e;"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="dni" type="text" maxlength="20" autofocus class="form-control" name="dni" placeholder="Ingresar DNI">
                </div>
            </div>
        </div>
        <div class="col-sm-2" style="padding-left: 25px; width: 105px; margin-top: 23px; margin-bottom: 10px;">
            <button id="btnSearch" onclick="buscar();" type="submit" title="Consultar" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;Buscar
            </button>
        </div>
       
    </div>
</div>
    <div class="row">
        <div class="col-xs-5">
         
            <div class="row">
                <div class="col-xs-12">                 
                        <div class="box box-body box-primary">
                            <h4>Datos del cliente:</h4>
                            <ul>
                                <li>
                                    <label>Dni: <b></b></label> <label id="lbldni" class="text-primary"></label>
                                </li>
                                <li>
                                    <label>Nombres: </label> <label id="lblnombres" class="text-primary"></label>
                                </li>
                                <li>
                                    <label>Correo: </label> <label id="lblcorreo" class="text-primary"></label>
                                </li>
                                <li>
                                    <label>Telefono: </label> <label id="lbltelefono" class="text-primary"></label>
                                </li>
                                <li>
                                    <label>Ubicacion: </label> <label id="lblubicacion" class="text-primary"></label>
                                </li>
                                <li>
                                    <label>FecNac: </label> <label id="lblfecnac" class="text-primary"></label>
                                </li>
                                <li>
                                    <label>Bataclub:</label>
                                    <ul>
                                        <li>
                                            <label>Registro: </label><label id="lblregistro" class="text-primary"></label>
                                        </li>
                                        <li>
                                            <label>
                                                Cupones Disponibles: <button id="btncupon" type="submit" title="Cupones Disponibles" class="btn btn-success"><span class="glyphicon glyphicon-list"></span></button><label id="lblncupon" class="text-primary">Ninguno</label>
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </div>

                  
                </div>
            </div>
         
            <div class="row">
                <div class="col-xs-12">
                
                        <div class="box box-body box-primary">
                            <h4>Cupones de Clientes Disponibles:</h4>
                            <table id="tabcupon" class="table table-hover table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>CUPON</th>
                                        <th>PROMOCION</th>
                                        <th>FEC.VEN</th>                                        
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach:">
                                    <tr>
                                        <th>CUPON</th>
                                        <th>PROMOCION</th>
                                        <th>FEC.VEN</th>                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                   
                </div>
            </div>
        </div>
        <div class="col-xs-7">            
                <div class="box box-body box-primary">
                    <h4>Historial de facturacion del cliente:</h4>
                    <table id="tabventa" class="table table-hover table-striped table-responsive">
                        <thead>
                            <tr>
                                @*<th>CANAL</th>*@
                                <th>TIENDA</th>
                                <th>TIPO</th>
                                <th>NUMDOC</th>
                                <th>FECHA</th>
                                <th>ESTADO</th>
                                <th>PEDIDO</th>
                                <th>DETALLE</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:">
                            <tr>
                                @*<th>CANAL</th>*@
                                <th>TIENDA</th>
                                <th>TIPO</th>
                                <th>NUMDOC</th>
                                <th>FECHA</th>
                                <th>ESTADO</th>
                                <th>PEDIDO</th>
                                <th>DETALLE</th>
                            </tr>
                        </tbody>
                    </table>
                </div>           
        </div>
    </div>

<div class="modal fade" id="modalDetalleVenta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-size:medium" class="text-primary modal-title" id="myModalLabel"><strong class="text-danger" id="dcCliente"></strong></p>
                        <p style="font-size:medium" class="text-primary modal-title" id="myModalLabel"><b>Detalles del Documento</b></p>
                    </div>
                    <div class="col-md-6 text-right">
                        <span style="font-size:medium" class="label label-danger" id="dcCupon"></span>
                    </div>
                </div>
            </div>
            <div style="font-size:small" class="modal-body" id="listaDetArt">
                <div class="row">
                  
                    <div class="col-sm-6">
                        <p>Tienda: <strong id="dcTienda"></strong></p>
                    </div>
                    <div class="col-sm-6">
                        <p>NumDoc ó Pedido: <strong id="dcnumdoc"></strong></p>
                    </div>
                </div>
                <div class="row">
                  
                    <div class="col-sm-6">
                        <p>Fecha: <strong id="dcfecha"></strong></p>
                    </div>
                    <div class="col-sm-6">
                        <p>Estado: <strong id="dcestado"></strong></p>
                    </div>
                </div>                    
                <div class="row">
                    <div class="col-sm-12">
                        <div id="dcTabDetalles"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-10 col-sm-2">
                        @*<p>Sub Total: <strong id="dcSubTotald"></strong></p>
                            <p>Desc.: <strong id="dcDescuento"></strong></p>*@
                        <p>Total: <strong id="dcTotal"></strong></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src='https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js'></script>
<script src='//cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js'></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script>

    $(document).ready(function () {
        $("#btncupon").hide();
        $("#lblncupon").hide();


        $('#tabventa').dataTable({
            "language": {
                "url": "../Scripts/DataTables/Spanish.json"
            },
            "bProcessing": false,
            "bServerSide": true,
            "bAutoWidth": false,
            "sAjaxSource": '@Url.Action("getTableBataSacVentaAjax", "Bata")',
            "bdestroy": true,
            "start": 0,
            //"searching": true,
            "sort": false,
            "order": [],
            "bDeferRender": true,
            "aoColumns": [                 
                    //{ "sName": "canal", "mData": "canal" },
                    { "sName": "tienda", "mData": "tienda" },
                    { "sName": "tipodoc", "mData": "tipodoc" },
                    { "sName": "numdoc", "mData": "numdoc" },
                    { "sName": "fecha", "mData": "fecha" },
                    { "sName": "estado", "mData": "estado" },
                    { "sName": "pedido", "mData": "pedido" },
                    {
                        "render": function (data, type, full) {

                            var canal = full.canal;
                            var cod_tda = full.cod_tda;
                            var fc_nint = full.fc_nint;
                            var numdoc = full.numdoc;
                            var pedido = full.pedido;
                            var tienda = full.tienda;
                            var fecha = full.fecha;
                            var estado_doc = full.estado;
                            var promocion = '';

                            var boton_Detalle = '<button title="Ver detalles" class="btn btn-success btn-sm detalles" data-dni="" onclick="pupup_detalle(\'' + canal + '\',\'' + cod_tda + '\',\'' + fc_nint + '\',\'' + numdoc + '\',\'' + pedido + '\',\'' + tienda + '\',\'' + fecha + '\',\'' + estado_doc + '\',\'' + promocion + '\');" data-des-prom=""><i class="glyphicon glyphicon-list"></i></button>';

                            return boton_Detalle;
                        }, "sClass": "boton-td"
                    },
                    
            ]

        });

        $('#tabcupon').dataTable({
            "dom": 't',
            "language": {
                "url": "../Scripts/DataTables/Spanish.json"
            },
            "bProcessing": false,
            "bServerSide": true,
            "bAutoWidth": false,
            "sAjaxSource": '@Url.Action("getTableBataSacCuponAjax", "Bata")',
            "bdestroy": true,
            "start": 0,
            //"searching": true,
            "sort": false,
            "order": [],
            "bDeferRender": true,
            "aoColumns": [
                    { "sName": "barra", "mData": "barra" },
                    { "sName": "promocion", "mData": "promocion" },
                    { "sName": "fecha_expiracion", "mData": "fecha_expiracion" },                

            ]

        });

    });

    $("#dni").keyup(function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            buscar();
        }
    });

    function pupup_detalle(canal, cod_tda, fc_nint, numdoc, pedido, tienda, fecha, estado_doc, promocion) {

        waitingDialog.show('Este proceso, puede tardar unos minutos.');      
        $.ajax({
            type: "Post",
            url: '@Url.Action("get_venta_detalle", "Bata")',
            //contentType: "application/json; charset=utf-8",
            data: { canal: canal, cod_tda: cod_tda, fc_nint: fc_nint, numdoc: numdoc, pedido: pedido },
            //dataType: "json",
            success: function (data) {

                var cliente = $("#lbldni").text() + '-' + $("#lblnombres").text();

                $("#dcCliente").html(cliente);

                $("#dcTienda").html(tienda);
                $("#dcnumdoc").html(numdoc);
                $("#dcfecha").html(fecha);
                $("#dcestado").html(estado_doc);
                $("#dcpromocion").html(promocion);

                $("#dcTotal").html("&nbsp;&nbsp;" + '120');
                
                $("#dcTabDetalles").html(data);
                //$("#descPromocionLista").html(desProm);
                $("#modalDetalleVenta").modal({ backdrop: 'static', keyboard: false });
                waitingDialog.hide();
            },
            error: function (xhr) {
                waitingDialog.hide();
                toastr.error(xhr, 'Mensaje');
            }
        });

    }

    function buscar() {
        var strDni = $('#dni').val().trim().trimLeft().trimRight().toString();

        if (strDni.length == 0) {
            toastr.error('Ingrese el numero de documento', 'Mensaje');
            $('#dni').focus();
            return;
        }



        $("#btncupon").hide();
        $("#lblncupon").show();

        $("#lbldni").text('');
        $("#lblnombres").text('');
        $("#lblcorreo").text('');
        $("#lbltelefono").text('');
        $("#lblubicacion").text('');
        $("#lblfecnac").text('');
        $("#lblregistro").text('');

        waitingDialog.show("Espere por favor...")
        $.ajax({
            type: "POST",
            url: '@Url.Action("get_batasac", "Bata")',
            data: { dni: strDni },
            success: function (data) {
                waitingDialog.hide();
                if (data.estado == "1") {
                    $("#lbldni").text(data.sac_cliente[0].dni);
                    $("#lblnombres").text(data.sac_cliente[0].nombre);
                    $("#lblcorreo").text(data.sac_cliente[0].correo);
                    $("#lbltelefono").text(data.sac_cliente[0].telefono);
                    $("#lblubicacion").text(data.sac_cliente[0].ubicacion);
                    $("#lblfecnac").text(data.sac_cliente[0].fec_nac);
                    $("#lblregistro").text(data.sac_cliente[0].bataclub);
                    
                    if (data.sac_cupones.length > 0) {
                        //$("#btncupon").show();
                        //$("#lblncupon").hide();
                        $("#lblncupon").text('SI');
                    } else {
                        //$("#btncupon").hide();
                        //$("#lblncupon").show();
                        $("#lblncupon").text('NO');
                    }

                    $('#tabventa').DataTable().ajax.reload();
                    $('#tabcupon').DataTable().ajax.reload();
                        
                }
                else {                   
                    toastr.error(data.mensaje, "Alerta");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                toastr.error("Error al consultar.", "Alerta");
            }
        });        
    }
</script>